legacy/bid-generator/dify-bridge/dify-workflows/ProEngine_Diagram_Generator.yml
app:
  description: 根据 content_writer 提供的图表规格生成具备层次深度的 SVG 架构图
  icon: 🤖
  icon_background: '#EFF1F5'
  mode: workflow
  name: ProEngine_Diagram_Generator
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-planner
      source: start_node
      sourceHandle: source
      target: llm_planner
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: planner-to-render
      source: llm_planner
      sourceHandle: source
      target: llm_renderer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: render-to-validate
      source: llm_renderer
      sourceHandle: source
      target: code_validate_svg
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: validate-to-end
      source: code_validate_svg
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 图表规格输入
        type: start
        variables:
        - default: architecture
          hint: 图表类型 architecture / flowchart / org-chart / data-flow / logic
          label: diagram_type
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: diagram_type
        - default: ''
          hint: 图表中文标题（建议 12 字以内）
          label: diagram_title
          options: []
          placeholder: 系统整体架构
          required: true
          type: text-input
          variable: diagram_title
        - default: ''
          hint: 图表上下文（来自写作引导与大纲节选）
          label: source_excerpt
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: source_excerpt
        - default: '[]'
          hint: 节点列表 JSON，可为空
          label: elements
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: elements
        - default: '[]'
          hint: 关系列表 JSON，可为空
          label: flows
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: flows
        - default: '[]'
          hint: 需要强调节点 ID 列表 JSON
          label: emphasis
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: emphasis
        - default: consulting
          hint: 风格预设 consulting
          label: style_preset
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: style_preset
      height: 265
      id: start_node
      position:
        x: 60
        y: 200
      positionAbsolute:
        x: 60
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.08
            top_p: 0.7
          mode: chat
          name: qwen3.6-flash
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: planner-system
          role: system
          text: "你是图规划与布局一体化引擎。请基于输入直接输出“可渲染布局 JSON”，禁止解释文本。\n\n输出必须是一个 JSON 对象：\n\
            {\n  \"canvas\": {\"width\":1400,\"height\":800,\"viewBox\":\"0 0 1400\
            \ 800\"},\n  \"title\": \"...\",\n  \"layout_hint\": \"top_down|left_right|hub_spoke|pipeline\"\
            ,\n  \"nodes\": [\n    {\"id\":\"A\",\"x\":120,\"y\":140,\"w\":220,\"\
            h\":72,\"level\":1,\"group\":\"核心层\",\"label\":\"\",\"sub\":\"\",\"emphasis\"\
            :false}\n  ],\n  \"groups\": [\n    {\"id\":\"G1\",\"name\":\"核心层\",\"\
            x\":80,\"y\":100,\"w\":1240,\"h\":220}\n  ],\n  \"edges\": [\n    {\"\
            from\":\"A\",\"to\":\"B\",\"label\":\"\",\"style\":\"primary|support|constraint|data\"\
            ,\"path\":\"orthogonal\"}\n  ]\n}\n\n规则：\n1. 若 elements/flows 非空，优先使用，禁止无依据重写。\n\
            2. 若为空，可从 source_excerpt 推断，但必须输出至少 1 条主链边。\n3. 层级默认 2 层，最多 3 层；信息不足时输出\
            \ 3-5 节点简图。\n4. 同层对齐，节点间距 >=24，尽量避免线交叉。\n5. edges 的 from/to 必须命中 nodes.id。\n\
            6. 仅输出 JSON。\n"
        - id: planner-user
          role: user
          text: '图类型: {{#start_node.diagram_type#}}

            图标题: {{#start_node.diagram_title#}}

            上下文: {{#start_node.source_excerpt#}}

            节点草稿: {{#start_node.elements#}}

            连线草稿: {{#start_node.flows#}}

            强调节点: {{#start_node.emphasis#}}

            '
        selected: true
        structured_output:
          schema: {}
        structured_output_enabled: false
        title: LLM 规划布局
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_planner
      position:
        x: 360
        y: 200
      positionAbsolute:
        x: 360
        y: 200
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.12
            top_p: 0.75
          mode: chat
          name: Kimi-K2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: renderer-system
          role: system
          text: '你是 SVG 渲染器。输入为布局 JSON，必须输出合法 SVG 代码。


            硬性要求：

            1. 只输出 <svg>...</svg>。

            2. 所有文字使用 <text>，禁止 foreignObject。

            3. 统一定义 <defs>，至少包含 arrow-blue 与 arrow-orange。

            4. 标题字号 >=20，节点文字 >=16，连线标注 >=14。

            5. style=primary 的边用深蓝实线箭头，support/constraint 用灰色虚线。

            6. 使用分组容器绘制深度（虚线外框 + 分组标题）。

            7. 坐标必须位于 viewBox 内，不可将主图压在中央小区域。

            '
        - id: renderer-user
          role: user
          text: '图标题: {{#start_node.diagram_title#}}

            强调节点: {{#start_node.emphasis#}}

            布局 JSON:

            {{#llm_planner.text#}}

            '
        selected: false
        structured_output:
          schema: {}
        structured_output_enabled: false
        title: LLM SVG 渲染
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_renderer
      position:
        x: 960
        y: 200
      positionAbsolute:
        x: 960
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\n_FALLBACK_SVG = '''<svg xmlns=\"http://www.w3.org/2000/svg\"\
          \ width=\"1200\" height=\"700\" viewBox=\"0 0 1200 700\">\n  <defs>\n  \
          \  <marker id=\"arrow-blue\" markerWidth=\"8\" markerHeight=\"6\" refX=\"\
          8\" refY=\"3\" orient=\"auto\">\n      <polygon points=\"0 0,8 3,0 6\" fill=\"\
          #1f4e79\"/>\n    </marker>\n    <marker id=\"arrow-orange\" markerWidth=\"\
          8\" markerHeight=\"6\" refX=\"8\" refY=\"3\" orient=\"auto\">\n      <polygon\
          \ points=\"0 0,8 3,0 6\" fill=\"#d86613\"/>\n    </marker>\n  </defs>\n\
          \  <rect x=\"0\" y=\"0\" width=\"1200\" height=\"700\" fill=\"#ffffff\"\
          />\n  <text x=\"600\" y=\"72\" text-anchor=\"middle\" font-family=\"sans-serif\"\
          \ font-size=\"26\" font-weight=\"700\" fill=\"#1f4e79\">架构图（降级模板）</text>\n\
          \  <rect x=\"140\" y=\"150\" width=\"920\" height=\"420\" rx=\"12\" fill=\"\
          none\" stroke=\"#d0d8e4\" stroke-width=\"1.5\" stroke-dasharray=\"6,3\"\
          />\n  <rect x=\"240\" y=\"260\" width=\"240\" height=\"76\" rx=\"8\" fill=\"\
          #1f4e79\"/>\n  <text x=\"360\" y=\"308\" text-anchor=\"middle\" font-family=\"\
          sans-serif\" font-size=\"18\" font-weight=\"700\" fill=\"#ffffff\">上游模块</text>\n\
          \  <rect x=\"720\" y=\"260\" width=\"240\" height=\"76\" rx=\"8\" fill=\"\
          #5b9bd5\"/>\n  <text x=\"840\" y=\"308\" text-anchor=\"middle\" font-family=\"\
          sans-serif\" font-size=\"18\" font-weight=\"700\" fill=\"#1f1f1f\">下游模块</text>\n\
          \  <line x1=\"480\" y1=\"298\" x2=\"720\" y2=\"298\" stroke=\"#1f4e79\"\
          \ stroke-width=\"2\" marker-end=\"url(#arrow-blue)\"/>\n</svg>'''\n\ndef\
          \ _extract_svg(text: str) -> str:\n    s = (text or \"\").strip()\n    s\
          \ = re.sub(r'<think>[\\s\\S]*?</think>', '', s, flags=re.IGNORECASE).strip()\n\
          \    s = re.sub(r'^```(?:svg|xml)?\\s*\\n?', '', s, flags=re.IGNORECASE)\n\
          \    s = re.sub(r'\\n?```\\s*$', '', s).strip()\n    m = re.search(r'(<svg[\\\
          s\\S]*?</svg>)', s, flags=re.IGNORECASE)\n    return m.group(1).strip()\
          \ if m else s\n\ndef _extract_json_object(text: str):\n    s = (text or\
          \ \"\").strip()\n    s = re.sub(r'<think>[\\s\\S]*?</think>', '', s, flags=re.IGNORECASE).strip()\n\
          \    fenced = re.search(r'```(?:json)?\\s*([\\s\\S]*?)```', s, flags=re.IGNORECASE)\n\
          \    if fenced:\n        s = fenced.group(1).strip()\n    start = s.find('{')\n\
          \    end = s.rfind('}')\n    if start >= 0 and end > start:\n        s =\
          \ s[start:end + 1]\n    return json.loads(s)\n\ndef _has_main_chain(layout_text:\
          \ str) -> bool:\n    try:\n        data = _extract_json_object(layout_text)\n\
          \    except Exception:\n        return False\n    edges = data.get(\"edges\"\
          ) or []\n    nodes = data.get(\"nodes\") or []\n    if not isinstance(edges,\
          \ list) or not isinstance(nodes, list):\n        return False\n    node_ids\
          \ = {str(node.get(\"id\")) for node in nodes if isinstance(node, dict) and\
          \ node.get(\"id\")}\n    for edge in edges:\n        if not isinstance(edge,\
          \ dict):\n            continue\n        src = str(edge.get(\"from\") or\
          \ edge.get(\"source\") or \"\")\n        dst = str(edge.get(\"to\") or edge.get(\"\
          target\") or \"\")\n        if src and dst and (not node_ids or (src in\
          \ node_ids and dst in node_ids)):\n            return True\n    return False\n\
          \ndef _enforce_min_font_size(svg: str, min_px: int = 14) -> str:\n    def\
          \ _sub(m: re.Match) -> str:\n        try:\n            n = float(m.group(1))\n\
          \        except Exception:\n            return m.group(0)\n        n = max(n,\
          \ float(min_px))\n        return f'font-size=\"{int(n)}\"'\n    return re.sub(r'font-size\\\
          s*=\\s*[\"\\']\\s*([0-9]+(?:\\.[0-9]+)?)\\s*(?:px)?\\s*[\"\\']', _sub, svg,\
          \ flags=re.IGNORECASE)\n\ndef main(svg_text: str, layout_text: str, semantic_text:\
          \ str) -> dict:\n    svg = _extract_svg(svg_text)\n    issues = []\n\n \
          \   if not svg.lower().startswith('<svg'):\n        issues.append('not_svg_root')\n\
          \    if 'foreignObject' in svg:\n        issues.append('contains_foreignObject')\n\
          \    if 'marker id=\"arrow-blue\"' not in svg:\n        issues.append('missing_arrow_blue')\n\
          \    if '<text' not in svg:\n        issues.append('missing_text')\n   \
          \ if not _has_main_chain(layout_text):\n        issues.append('missing_main_chain')\n\
          \n    svg = _enforce_min_font_size(svg, min_px=14)\n\n    if issues:\n \
          \       return {\n            \"svg\": _FALLBACK_SVG,\n            \"quality_report\"\
          : \"fallback:\" + \",\".join(issues),\n            \"semantic_plan\": semantic_text,\n\
          \            \"layout_plan\": layout_text,\n        }\n\n    return {\n\
          \        \"svg\": svg,\n        \"quality_report\": \"ok\",\n        \"\
          semantic_plan\": semantic_text,\n        \"layout_plan\": layout_text,\n\
          \    }\n"
        code_language: python3
        outputs:
          layout_plan:
            children: null
            type: string
          quality_report:
            children: null
            type: string
          semantic_plan:
            children: null
            type: string
          svg:
            children: null
            type: string
        selected: false
        title: 校验清洗与降级
        type: code
        variables:
        - value_selector:
          - llm_renderer
          - text
          value_type: string
          variable: svg_text
        - value_selector:
          - llm_planner
          - text
          value_type: string
          variable: layout_text
        - value_selector:
          - llm_planner
          - text
          value_type: string
          variable: semantic_text
      height: 52
      id: code_validate_svg
      position:
        x: 1260
        y: 200
      positionAbsolute:
        x: 1260
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - code_validate_svg
          - svg
          value_type: string
          variable: svg
        - value_selector:
          - code_validate_svg
          - quality_report
          value_type: string
          variable: quality_report
        - value_selector:
          - code_validate_svg
          - semantic_plan
          value_type: string
          variable: semantic_plan
        - value_selector:
          - code_validate_svg
          - layout_plan
          value_type: string
          variable: layout_plan
        selected: false
        title: 输出
        type: end
      height: 170
      id: end_node
      position:
        x: 1560
        y: 200
      positionAbsolute:
        x: 1560
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 50
      y: 169
      zoom: 0.8
  rag_pipeline_variables: []
