legacy/bid-generator/dify-bridge/dify-workflows/ProEngine_Content_Writer.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: ProEngine_Content_Writer
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/searxng:0.0.7@fce43eac17ce659811cfa35bef8858d06f78bb832eff5d0317dab34982991eca
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1772177852120-source-1772166340802-target
      selected: false
      source: '1772177852120'
      sourceHandle: source
      target: '1772166340802'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1772253257587-source-1772250174107-target
      selected: false
      source: '1772253257587'
      sourceHandle: source
      target: '1772250174107'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1772250174107-true-1772177852120-target
      selected: false
      source: '1772250174107'
      sourceHandle: 'true'
      target: '1772177852120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1772250174107-false-17722555721840-target
      selected: false
      source: '1772250174107'
      sourceHandle: 'false'
      target: '17722555721840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1772166340802-source-1773113650698-target
      selected: false
      source: '1772166340802'
      sourceHandle: source
      target: '1773113650698'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17722555721840-source-1773113650698-target
      selected: false
      source: '17722555721840'
      sourceHandle: source
      target: '1773113650698'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1773113650698-source-placeholder-scan-target
      selected: false
      source: '1773113650698'
      sourceHandle: source
      target: placeholder_scan
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: placeholder-scan-source-if-target
      selected: false
      source: placeholder_scan
      sourceHandle: source
      target: if_placeholder_issues
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: if-placeholder-true-repair-target
      selected: false
      source: if_placeholder_issues
      sourceHandle: 'true'
      target: placeholder_repair_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: if-placeholder-false-end-target
      selected: false
      source: if_placeholder_issues
      sourceHandle: 'false'
      target: '1772166569285'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: placeholder-repair-source-apply-target
      selected: false
      source: placeholder_repair_llm
      sourceHandle: source
      target: apply_placeholder_repair
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: apply-placeholder-repair-source-end-target
      selected: false
      source: apply_placeholder_repair
      sourceHandle: source
      target: end_repaired
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1772165989096-source-1772253257587-target
      source: '1772165989096'
      sourceHandle: source
      target: '1772253257587'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: project_summary
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: project_summary
        - default: ''
          hint: ''
          label: requires_search
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: requires_search
        - default: ''
          hint: ''
          label: section_title
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: section_title
        - default: ''
          hint: ''
          label: writing_hint
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: writing_hint
        - default: ''
          hint: ''
          label: expected_words
          options: []
          placeholder: ''
          required: true
          type: number
          variable: expected_words
        - default: ''
          hint: ''
          label: placeholder_hint
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: placeholder_hint
        - default: ''
          hint: ''
          label: global_outline
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: global_outline
        - default: ''
          hint: ''
          label: keywords
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: keywords
        - default: ''
          hint: '可用图片清单，格式：{{IMG_xxx}}: 图片说明\n每行一张，为空时忽略'
          label: image_map_hint
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: image_map_hint
      height: 291
      id: '1772165989096'
      position:
        x: 70.90132048903982
        y: 282
      positionAbsolute:
        x: 70.90132048903982
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1772253257587'
          - result
        model:
          completion_params:
            temperature: 0.3
            top_p: 0.8
          mode: chat
          name: Kimi-K2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 7cf4f361-525e-413e-8dfc-025931106306
          role: system
          text: "你是一名专业的招投标技术文件撰写专家。\n你的任务是为标书的\"{{#1772165989096.section_title#}}\"\
            章节撰写详细的正文内容。\n\n项目背景与投标策略：\n{{#1772165989096.project_summary#}}\n\n写作要求：\n\
            1. 目标字数约 {{#1772165989096.expected_words#}} 字，建议控制在目标字数的 90%-110%，不得明显短于用户在大纲阶段设置的字数，且绝对不得超过目标字数的 110%\n2. 写作引导：{{#1772165989096.writing_hint#}}\n\
            3. 语言风格：正式、专业，多用数据和具体技术细节支撑\n4. 默认直接进入本章实质内容；仅当 writing_hint 明确包含“[章节概述]”时，允许输出本章概述性导语。非概述场景禁止新增概述类开场或自造小标题\n\
            \n全局大纲：\n{{#1772165989096.global_outline#}}\n\n⚠️ 强烈警告：你当前正在撰写的仅仅是该大纲中的第【{{#1772165989096.section_title#}}】章节。当前章节通常是固定 H2 下的一个 H3 正文单元。绝对禁止在正文中自行捏造或重复任何 H1/H2 层级标题，尤其禁止输出与全局大纲重复的顶层章号标题。\
            \ 你的职责是仅在你的章节内部进行段落叙述，若需划分子列，只能使用无级别数字（如 1）、（1）或“首先、其次”等段落级符号体系，决不可侵占或破坏最外层的全局大纲序号排版！\n\
            \n【重要越界防范】：你在编写本技术正文章节时，绝对不要自行捏造或生成任何诸如“法定代表人授权书”、“无违规记录承诺函”、“报价单”之类的独立格式化商务附件或表单。即便上游大纲或者参考资料有提及，你也仅凭文字客观描述即可。所有的标准化商务附件都将由专门的商务流单独生成并在最后汇总时拼接，你只负责纯粹的技术方案、架构描述与实施规划的正文扩写。\n\
            \n{{#1772165989096.placeholder_hint#}}\n\n【网络检索材料使用红线规则】\n 下文是你通过网络检索工具获取的外部补充材料：{{#1772177852120.text#}}\n\
            ⚠️ 强烈警告：对于网络检索材料，你必须遵守以下红线原则，如有违背将被严厉惩罚：\n核心为主、外壳为辅： 本次标书撰写的绝对核心是《项目要求\
            \ / 需求大纲》以及《项目定位概要》。网络检索结果仅作为“行业技术细节”、“专业名词解析”或“政策背景佐证”的补充资料。\n斩断无关信息： 检索结果中如果出现“其他不相关公司的宣传”、“老旧的历史数据（超过近\
            \ 3 年）”、“八卦新闻”、“与本项目无关的招聘信息、广告”等，一旦发现无关内容彻底无视，绝对不准写入正文！\n禁止臆测： 如果检索结果无法支撑我们要写的标题方向，宁愿不引用，也不得强行拼凑、不得自行编造、不得对产品参数进行夸大其词的幻觉编织。不明确的数据一律使用模糊安全的描述化语言（如“先进水平”、“符合国家合规要求”）。\n\
            \n【占位符引用铁律】\n- 文中的 @@PIPT:v1:e000001:kxxxxxxxx@@ 或 {{__PIPT_*__}} 格式占位符来自本地脱敏处理，必须逐字原样保留，绝不修改。\n- 如果上下文传入了投标人信息占位符（placeholder_hint），使用规则如下：\n\
            \  1. 仅在正文自然出现\"投标单位\"、\"法定代表人\"、\"项目负责人\"等主体时，才在对应位置引用占位符。\n  2. 禁止在段落结尾、文章总结或过渡段中主动插入这些占位符。\n\
            \  3. 投标人信息占位符当前也使用 PIPT strong token 格式，必须以 placeholder_hint 中列出的 @@PIPT:v1:e000001:kxxxxxxxx@@ token 为准；不要输出 {{__BIDDER_*__}} 或 {{BIDDER_*}} 旧格式。\n\
            【Markdown 正文格式铁律】\n- 禁止输出任何以 # 开头的行（禁止使用 #、##、###；章节标题由排版系统统一注入）。\n- 当 writing_hint 含 [章节概述] 时可写 1 段概述；否则禁止输出“概述/本章概述/章节概述/引言”类小标题或同义标题。\n- 小节仅用 **单独一行的加粗短句** 作小标题，或（1）（2）、1. 2.、「首先、其次」等段落级序号。\n- 段落之间用空行分隔；重要术语使用 **加粗**；列举可用无序或有序列表。\n- 严禁通过重复改写同一语义来凑字数；与子章节主题高度重合的内容最多一句过渡，不得大段展开。\n\
            \n【原始文档图片引用规则】\nimage_map_hint 传入了从招标文件中提取的配图清单（格式：{{IMG_xxx}}: 图片说明）。\n当你判断正文某段自然适合插入截图或示意图时（如系统界面、流程示意），可使用 ![图注]({{IMG_xxx}}) 格式引用一张。\n引用原则：宁缺毋滥，仅在确实能提升内容可读性时引用；image_map_hint 为空时，不要生成任何图片引用。\n\
            \n【图表规格生成指令（严格收敛）】\n正文完成后，仅在“存在 >=3 个步骤/节点且上下游关系明确”时才生成图表规格；否则必须输出空数组。\n在输出中追加 <DIAGRAM_SPECS> 标签包裹的 JSON 数组（后端将提取此段，不会显示给读者）：\n<DIAGRAM_SPECS>[{\"type\":\"flowchart\",\"title\":\"图表标题(12字以内)\",\"source_excerpt\":\"触发此图表的原文(50字以内)\",\"elements\":[{\"id\":\"A\",\"label\":\"节点名\",\"level\":1,\"sub\":\"可选副标题\"},{\"id\":\"B\",\"label\":\"节点\",\"level\":2,\"sub\":\"\"}],\"flows\":[{\"from\":\"A\",\"to\":\"B\",\"label\":\"关系\"}],\"emphasis\":[\"A\"]}]</DIAGRAM_SPECS>\ntype: architecture/flowchart/org-chart/data-flow/logic\n若不满足触发条件，输出 <DIAGRAM_SPECS>[]</DIAGRAM_SPECS>；每章节最多 1 张图表，且禁止纯概念性“装饰图”。"
        - id: 672ee8f6-0b4a-4b8b-bb71-b46817e4fef4
          role: user
          text: '

            联网搜索结果（行业参考）：

            {{#1772177852120.text#}}


            知识库检索内容（务必参考）：

            {{#context#}}


            【本节定位】正式章节标题为「{{#1772165989096.section_title#}}」。正文内禁止再写与其他章重复的顶层章号标题；禁止重复输出本章标题行；禁止输出 H1/H2 层级标题；禁止任何以 # 开头的 Markdown 标题行。

            请基于以上信息，撰写上述章节的正文内容：

            '
        selected: true
        title: LLM WITH SEARXNG
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772166340802'
      position:
        x: 1267.9683237187317
        y: 177.04027605837896
      positionAbsolute:
        x: 1267.9683237187317
        y: 177.04027605837896
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - placeholder_scan
          - text
          value_type: string
          variable: text
        - value_selector:
          - placeholder_scan
          - diagram_specs
          value_type: string
          variable: diagram_specs
        - value_selector:
          - placeholder_scan
          - placeholder_issues
          value_type: string
          variable: placeholder_issues
        - value_selector:
          - placeholder_scan
          - allowed_placeholders_json
          value_type: string
          variable: allowed_placeholders_json
        - value_selector:
          - placeholder_scan
          - placeholder_validation_failed
          value_type: boolean
          variable: placeholder_validation_failed
        - value_selector:
          - placeholder_scan
          - placeholder_repair_report
          value_type: string
          variable: placeholder_repair_report
        selected: false
        title: 输出
        type: end
      height: 170
      id: '1772166569285'
      position:
        x: 2496
        y: 428
      positionAbsolute:
        x: 2496
        y: 428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          LEGAL_RE = re.compile(r"(?:\{\{__(?:PIPT_[a-z_]+_\d+|BIDDER_[A-Z_]+)__\}\}|@@PIPT:v1:e\d{6}:k[a-f0-9]{8}@@)")
          SUSPECT_RE = re.compile(r"\{\{[^{}]*(?:PIPT|BIDDER)[^{}]*\}\}|(?<!\{)\{[^{}]*(?:PIPT|BIDDER)[^{}]*\}(?!\})|@@[^@\s]*(?:PIPT|BIDDER)[^@\s]*@@?", re.IGNORECASE)

          def _find_allowed(placeholder_hint):
              allowed = []
              hint = str(placeholder_hint or "")
              marker = "PIPT_ALLOWED_PLACEHOLDERS_JSON:"
              if marker in hint:
                  raw_json = hint.split(marker, 1)[1].split("\n", 1)[0].strip()
                  try:
                      for token in json.loads(raw_json):
                          if isinstance(token, str) and LEGAL_RE.fullmatch(token) and token not in allowed:
                              allowed.append(token)
                  except Exception:
                      allowed = []
              if allowed:
                  return allowed
              for token in LEGAL_RE.findall(hint):
                  if token not in allowed:
                      allowed.append(token)
              return allowed

          def _find_issues(text, allowed):
              issues = []
              allowed_set = set(allowed)
              for match in SUSPECT_RE.finditer(str(text or "")):
                  token = match.group(0)
                  is_legal = bool(LEGAL_RE.fullmatch(token))
                  if (not is_legal or (allowed_set and token not in allowed_set)) and token not in issues:
                      issues.append(token)
              return issues

          def main(text: str, diagram_specs: str, placeholder_hint: str) -> dict:
              allowed = _find_allowed(placeholder_hint)
              issues = _find_issues(text, allowed)

              return {
                  "text": str(text or "").strip(),
                  "diagram_specs": str(diagram_specs or "[]").strip() or "[]",
                  "has_placeholder_issues": bool(issues),
                  "placeholder_issues": json.dumps(issues, ensure_ascii=False),
                  "allowed_placeholders_json": json.dumps(allowed, ensure_ascii=False),
                  "placeholder_validation_failed": bool(issues),
                  "placeholder_repair_report": "[]",
              }
        code_language: python3
        outputs:
          text:
            children: null
            type: string
          diagram_specs:
            children: null
            type: string
          has_placeholder_issues:
            children: null
            type: boolean
          placeholder_issues:
            children: null
            type: string
          allowed_placeholders_json:
            children: null
            type: string
          placeholder_validation_failed:
            children: null
            type: boolean
          placeholder_repair_report:
            children: null
            type: string
        selected: false
        title: 占位符扫描
        type: code
        variables:
        - value_selector:
          - '1773113650698'
          - final_draft
          value_type: string
          variable: text
        - value_selector:
          - '1773113650698'
          - diagram_specs
          value_type: string
          variable: diagram_specs
        - value_selector:
          - '1772165989096'
          - placeholder_hint
          value_type: string
          variable: placeholder_hint
      height: 52
      id: placeholder_scan
      position:
        x: 1892
        y: 303
      positionAbsolute:
        x: 1892
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: placeholder-issues-true
            value: true
            varType: boolean
            variable_selector:
            - placeholder_scan
            - has_placeholder_issues
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否需要占位符修复
        type: if-else
      height: 124
      id: if_placeholder_issues
      position:
        x: 2194
        y: 303
      positionAbsolute:
        x: 2194
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: false
            temperature: 0
            top_p: 0.1
          mode: chat
          name: Kimi-K2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: placeholder-repair-system
          role: system
          text: |
            你是占位符格式校验器，只能输出 JSON，不得解释。

            任务：根据问题清单，为每个畸形占位符给出最小替换方案。
            允许格式只有：
            - @@PIPT:v1:e000001:kxxxxxxxx@@
            - {{__PIPT_类型_序号__}}

            规则：
            - 只处理问题清单中的 token。
            - 只能修复占位符格式，不得改写任何正文。
            - 能确定的修复为合法占位符；不能确定时不要给 replacement。
            - {{BIDDER_ORG}} 属于旧投标人占位符样式，当前无法可靠修复为 strong token，必须跳过。
            - {{PIPT_name_1}} 应修复为 {{__PIPT_name_1__}}。
            - {{PIPT_1}} 缺少类型，无法可靠修复，必须跳过。

            输出格式：
            {"replacements":[{"from":"原 token","to":"合法占位符","reason":"简短原因"}]}
        - id: placeholder-repair-user
          role: user
          text: |
            问题清单：
            {{#placeholder_scan.placeholder_issues#}}

            已知合法占位符：
            {{#placeholder_scan.allowed_placeholders_json#}}

            正文原文：
            {{#placeholder_scan.text#}}
        selected: false
        structured_output:
          schema: {}
        structured_output_enabled: false
        title: 快速占位符修复
        type: llm
        vision:
          enabled: false
      height: 88
      id: placeholder_repair_llm
      position:
        x: 2496
        y: 178
      positionAbsolute:
        x: 2496
        y: 178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          LEGAL_RE = re.compile(r"(?:\{\{__(?:PIPT_[a-z_]+_\d+|BIDDER_[A-Z_]+)__\}\}|@@PIPT:v1:e\d{6}:k[a-f0-9]{8}@@)")
          SUSPECT_RE = re.compile(r"\{\{[^{}]*(?:PIPT|BIDDER)[^{}]*\}\}|(?<!\{)\{[^{}]*(?:PIPT|BIDDER)[^{}]*\}(?!\})|@@[^@\s]*(?:PIPT|BIDDER)[^@\s]*@@?", re.IGNORECASE)

          def _load_json(raw, fallback):
              text = str(raw or "").strip()
              text = re.sub(r"^\s*```(?:json)?\s*", "", text, flags=re.IGNORECASE)
              text = re.sub(r"\s*```\s*$", "", text, flags=re.IGNORECASE)
              try:
                  return json.loads(text)
              except Exception:
                  match = re.search(r"(\{[\s\S]*\}|\[[\s\S]*\])", text)
                  if match:
                      try:
                          return json.loads(match.group(1))
                      except Exception:
                          return fallback
              return fallback

          def _find_issues(text, allowed):
              issues = []
              allowed_set = set(allowed)
              for match in SUSPECT_RE.finditer(str(text or "")):
                  token = match.group(0)
                  is_legal = bool(LEGAL_RE.fullmatch(token))
                  if not is_legal or (allowed_set and token not in allowed_set):
                      issues.append(token)
              return issues

          def main(text: str, diagram_specs: str, repair_text: str, placeholder_issues: str, allowed_placeholders_json: str) -> dict:
              issue_tokens = set(_load_json(placeholder_issues, []))
              allowed = [token for token in _load_json(allowed_placeholders_json, []) if isinstance(token, str) and LEGAL_RE.fullmatch(token)]
              allowed_set = set(allowed)
              repair_payload = _load_json(repair_text, {})
              replacements = repair_payload.get("replacements") if isinstance(repair_payload, dict) else []
              rewritten = str(text or "")
              applied = []

              for repl in replacements or []:
                  if not isinstance(repl, dict):
                      continue
                  src = str(repl.get("from") or "")
                  dst = str(repl.get("to") or "")
                  if not src or src not in issue_tokens or not LEGAL_RE.fullmatch(dst) or (allowed_set and dst not in allowed_set):
                      continue
                  if src in rewritten:
                      rewritten = rewritten.replace(src, dst)
                      applied.append({"from": src, "to": dst, "reason": str(repl.get("reason") or "")})

              remaining = _find_issues(rewritten, allowed)
              return {
                  "text": rewritten.strip(),
                  "diagram_specs": str(diagram_specs or "[]").strip() or "[]",
                  "placeholder_issues": json.dumps(remaining, ensure_ascii=False),
                  "placeholder_validation_failed": bool(remaining),
                  "placeholder_repair_report": json.dumps(applied, ensure_ascii=False),
              }
        code_language: python3
        outputs:
          text:
            children: null
            type: string
          diagram_specs:
            children: null
            type: string
          placeholder_issues:
            children: null
            type: string
          placeholder_validation_failed:
            children: null
            type: boolean
          placeholder_repair_report:
            children: null
            type: string
        selected: false
        title: 应用占位符修复
        type: code
        variables:
        - value_selector:
          - placeholder_scan
          - text
          value_type: string
          variable: text
        - value_selector:
          - placeholder_scan
          - diagram_specs
          value_type: string
          variable: diagram_specs
        - value_selector:
          - placeholder_repair_llm
          - text
          value_type: string
          variable: repair_text
        - value_selector:
          - placeholder_scan
          - placeholder_issues
          value_type: string
          variable: placeholder_issues
        - value_selector:
          - placeholder_scan
          - allowed_placeholders_json
          value_type: string
          variable: allowed_placeholders_json
      height: 52
      id: apply_placeholder_repair
      position:
        x: 2798
        y: 178
      positionAbsolute:
        x: 2798
        y: 178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Enter your search query
            ja_JP: Enter your search query
            pt_BR: Enter your search query
            zh_Hans: 输入搜索关键词
          label:
            en_US: Query string
            ja_JP: Query string
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: Key words for searching
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: general
          form: form
          human_description:
            en_US: Search the web using SearXNG, a privacy-respecting metasearch engine
            ja_JP: Search the web using SearXNG, a privacy-respecting metasearch engine
            pt_BR: Search the web using SearXNG, a privacy-respecting metasearch engine
            zh_Hans: 使用注重隐私的元搜索引擎 SearXNG 搜索网页
          label:
            en_US: search type
            ja_JP: search type
            pt_BR: search type
            zh_Hans: 搜索类型
          llm_description: ''
          max: null
          min: null
          name: search_type
          options:
          - icon: ''
            label:
              en_US: General
              ja_JP: General
              pt_BR: General
              zh_Hans: 综合
            value: general
          - icon: ''
            label:
              en_US: Images
              ja_JP: Images
              pt_BR: Images
              zh_Hans: 图片
            value: images
          - icon: ''
            label:
              en_US: Videos
              ja_JP: Videos
              pt_BR: Videos
              zh_Hans: 视频
            value: videos
          - icon: ''
            label:
              en_US: News
              ja_JP: News
              pt_BR: News
              zh_Hans: 新闻
            value: news
          - icon: ''
            label:
              en_US: Map
              ja_JP: Map
              pt_BR: Map
              zh_Hans: 地图
            value: map
          - icon: ''
            label:
              en_US: Music
              ja_JP: Music
              pt_BR: Music
              zh_Hans: 音乐
            value: music
          - icon: ''
            label:
              en_US: It
              ja_JP: It
              pt_BR: It
              zh_Hans: 信息技术
            value: it
          - icon: ''
            label:
              en_US: Science
              ja_JP: Science
              pt_BR: Science
              zh_Hans: 科学
            value: science
          - icon: ''
            label:
              en_US: Files
              ja_JP: Files
              pt_BR: Files
              zh_Hans: 文件
            value: files
          - icon: ''
            label:
              en_US: Social Media
              ja_JP: Social Media
              pt_BR: Social Media
              zh_Hans: 社交媒体
            value: social_media
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: corresponding to the SearXNG API's time_range parameter, also depends
              on whether the search engine supports it
            ja_JP: corresponding to the SearXNG API's time_range parameter, also depends
              on whether the search engine supports it
            pt_BR: corresponding to the SearXNG API's time_range parameter, also depends
              on whether the search engine supports it
            zh_Hans: 对应的是 SearXNG API 的 time_range 参数，也取决于搜索引擎是否支持
          label:
            en_US: time range
            ja_JP: time range
            pt_BR: time range
            zh_Hans: 时间范围
          llm_description: ''
          max: null
          min: null
          name: time_range
          options:
          - icon: ''
            label:
              en_US: In a day
              ja_JP: In a day
              pt_BR: In a day
              zh_Hans: 一天内
            value: day
          - icon: ''
            label:
              en_US: In a week
              ja_JP: In a week
              pt_BR: In a week
              zh_Hans: 一周内
            value: week
          - icon: ''
            label:
              en_US: In a month
              ja_JP: In a month
              pt_BR: In a month
              zh_Hans: 一个月内
            value: month
          - icon: ''
            label:
              en_US: In a year
              ja_JP: In a year
              pt_BR: In a year
              zh_Hans: 一年内
            value: year
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          query: ''
          search_type: ''
          time_range: ''
        plugin_id: langgenius/searxng
        plugin_unique_identifier: langgenius/searxng:0.0.7@fce43eac17ce659811cfa35bef8858d06f78bb832eff5d0317dab34982991eca
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=add31afb-252d-4a66-9c49-7d67b2f7c245&filename=ed0f6d711dc2f632e3ead5e98389e06b78450e0675cb150216fa59650b191d3d.svg
        provider_id: langgenius/searxng/searxng
        provider_name: langgenius/searxng/searxng
        provider_type: builtin
        selected: false
        title: SearXNG 搜索
        tool_configurations:
          search_type:
            type: constant
            value: general
          time_range:
            type: constant
            value: null
        tool_description: SearXNG 是一个免费的互联网元搜索引擎，它从70多个不同的搜索服务中聚合搜索结果。
        tool_label: SearXNG 搜索
        tool_name: searxng_search
        tool_node_version: '2'
        tool_parameters:
          query:
            type: mixed
            value: '{{#1772165989096.keywords#}}'
        type: tool
      height: 114
      id: '1772177852120'
      position:
        x: 974.8213986787198
        y: 177.04027605837896
      positionAbsolute:
        x: 974.8213986787198
        y: 177.04027605837896
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c4c4b63d-29f4-4f31-b856-d0b771478064
            value: 'true'
            varType: string
            variable_selector:
            - '1772165989096'
            - requires_search
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1772250174107'
      position:
        x: 677.6158530450041
        y: 303
      positionAbsolute:
        x: 677.6158530450041
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - bM5tMc1Yud/3cz9buJ5nQdEdjWR/6BatvPqrWs7YGQJLP/6BpIaKZiUr0I47IKbg
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1772165989096'
        - keywords
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1772253257587'
      position:
        x: 378.29314544909505
        y: 303
      positionAbsolute:
        x: 378.29314544909505
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1772253257587'
          - result
        model:
          completion_params:
            temperature: 0.3
            top_p: 0.8
          mode: chat
          name: Kimi-K2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 7cf4f361-525e-413e-8dfc-025931106306
          role: system
          text: "你是一名专业的招投标技术文件撰写专家。\n你的任务是为标书的\"{{#1772165989096.section_title#}}\"\
            章节撰写详细的正文内容。\n\n项目背景与投标策略：\n{{#1772165989096.project_summary#}}\n\n写作要求：\n\
            1. 目标字数约 {{#1772165989096.expected_words#}} 字，建议控制在目标字数的 90%-110%，不得明显短于用户在大纲阶段设置的字数，且绝对不得超过目标字数的 110%\n2. 写作引导：{{#1772165989096.writing_hint#}}\n\
            3. 语言风格：正式、专业，多用数据和具体技术细节支撑\n4. 默认直接进入本章实质内容；仅当 writing_hint 明确包含“[章节概述]”时，允许输出本章概述性导语。非概述场景禁止新增概述类开场或自造小标题\n\
            \n全局大纲：\n{{#1772165989096.global_outline#}}\n\n⚠️ 强烈警告：你当前正在撰写的仅仅是该大纲中的第【{{#1772165989096.section_title#}}】章节。当前章节通常是固定 H2 下的一个 H3 正文单元。绝对禁止在正文中自行捏造或重复任何 H1/H2 层级标题，尤其禁止输出与全局大纲重复的顶层章号标题。\
            \ 你的职责是仅在你的章节内部进行段落叙述，若需划分子列，只能使用无级别数字（如 1）、（1）或“首先、其次”等段落级符号体系，决不可侵占或破坏最外层的全局大纲序号排版！\n\
            \n【重要越界防范】：你在编写本技术正文章节时，绝对不要自行捏造或生成任何诸如“法定代表人授权书”、“无违规记录承诺函”、“报价单”之类的独立格式化商务附件或表单。即便上游大纲或者参考资料有提及，你也仅凭文字客观描述即可。所有的标准化商务附件都将由专门的商务流单独生成并在最后汇总时拼接，你只负责纯粹的技术方案、架构描述与实施规划的正文扩写。\n\
            \n【占位符引用铁律】\n- 文中的 @@PIPT:v1:e000001:kxxxxxxxx@@ 或 {{__PIPT_*__}} 格式占位符来自本地脱敏处理，必须逐字原样保留，绝不修改。\n- 如果上下文传入了投标人信息占位符（placeholder_hint），使用规则如下：\n\
            \  1. 仅在正文自然出现\"投标单位\"、\"法定代表人\"、\"项目负责人\"等主体时，才在对应位置引用占位符。\n  2. 禁止在段落结尾、文章总结或过渡段中主动插入这些占位符。\n\
            \  3. 投标人信息占位符当前也使用 PIPT strong token 格式，必须以 placeholder_hint 中列出的 @@PIPT:v1:e000001:kxxxxxxxx@@ token 为准；不要输出 {{__BIDDER_*__}} 或 {{BIDDER_*}} 旧格式。\n\n\n{{#1772165989096.placeholder_hint#}}\n\
            \n禁止臆测： 如果知识库检索结果无法支撑我们要写的标题方向，宁愿不引用，也不得强行拼凑、不得自行编造、不得对产品参数进行夸大其词的幻觉编织。不明确的数据一律使用模糊安全的描述化语言（如“先进水平”、“符合国家合规要求”）。\n\
            \n【Markdown 正文格式铁律】\n- 禁止输出任何以 # 开头的行（禁止使用 #、##、###；章节标题由排版系统统一注入）。\n- 当 writing_hint 含 [章节概述] 时可写 1 段概述；否则禁止输出“概述/本章概述/章节概述/引言”类小标题或同义标题。\n- 小节仅用 **单独一行的加粗短句** 作小标题，或（1）（2）、1. 2.、「首先、其次」等段落级序号。\n- 段落之间用空行分隔；重要术语使用 **加粗**；列举可用无序或有序列表。\n- 严禁通过重复改写同一语义来凑字数；与子章节主题高度重合的内容最多一句过渡，不得大段展开。\n\
            \n【原始文档图片引用规则】\nimage_map_hint 传入了从招标文件中提取的配图清单（格式：{{IMG_xxx}}: 图片说明）。\n当你判断正文某段自然适合插入截图或示意图时（如系统界面、流程示意），可使用 ![图注]({{IMG_xxx}}) 格式引用一张。\n引用原则：宁缺毋滥，仅在确实能提升内容可读性时引用；image_map_hint 为空时，不要生成任何图片引用。\n\
            \n【图表规格生成指令（严格收敛）】\n正文完成后，仅在“存在 >=3 个步骤/节点且上下游关系明确”时才生成图表规格；否则必须输出空数组。\n在输出中追加 <DIAGRAM_SPECS> 标签包裹的 JSON 数组（后端将提取此段，不会显示给读者）：\n<DIAGRAM_SPECS>[{\"type\":\"flowchart\",\"title\":\"图表标题(12字以内)\",\"source_excerpt\":\"触发此图表的原文(50字以内)\",\"elements\":[{\"id\":\"A\",\"label\":\"节点名\",\"level\":1,\"sub\":\"可选副标题\"},{\"id\":\"B\",\"label\":\"节点\",\"level\":2,\"sub\":\"\"}],\"flows\":[{\"from\":\"A\",\"to\":\"B\",\"label\":\"关系\"}],\"emphasis\":[\"A\"]}]</DIAGRAM_SPECS>\ntype: architecture/flowchart/org-chart/data-flow/logic\n若不满足触发条件，输出 <DIAGRAM_SPECS>[]</DIAGRAM_SPECS>；每章节最多 1 张图表，且禁止纯概念性“装饰图”。"
        - id: 672ee8f6-0b4a-4b8b-bb71-b46817e4fef4
          role: user
          text: '知识库检索内容：

            {{#context#}}


            【本节定位】正式章节标题为「{{#1772165989096.section_title#}}」。正文内禁止再写与其他章重复的顶层章号标题；禁止重复输出本章标题行；禁止输出 H1/H2 层级标题；禁止任何以 # 开头的 Markdown 标题行。

            请基于以上信息，撰写上述章节的正文内容：

            '
        selected: false
        title: LLM WITHOUT SEARXNG
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17722555721840'
      position:
        x: 1267.9683237187317
        y: 385.8074705700659
      positionAbsolute:
        x: 1267.9683237187317
        y: 385.8074705700659
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(text_with_search: str, text_no_search: str) ->\
          \ dict:\n    # 谁有内容就用谁，优先取带搜索的\n    merged_draft = text_with_search if isinstance(text_with_search,\
          \ str) and text_with_search.strip() else text_no_search\n    \n    placeholder_issues\
          \ = 0\n    # 防御性判断：确保是字符串\n    if isinstance(merged_draft, str):\n     \
          \   # 使用正则剔除 <think> 和 </think> 及其包含的所有内容\n        merged_draft = re.sub(r'<think>.*?</think>',\
          \ '', merged_draft, flags=re.DOTALL)\n        \n        # 占位符自动修复：修复缺少双下划线的格式\n\
          \        for prefix in ['BIDDER', 'PIPT']:\n            pattern = r'\\{\\\
          {(?!__)' + prefix + r'_(\\w+?)(?<!__)\\}\\}'\n            matches = re.findall(pattern,\
          \ merged_draft)\n            for m in matches:\n                merged_draft\
          \ = merged_draft.replace('{{' + prefix + '_' + m + '}}', '{{__' + prefix\
          \ + '_' + m + '__}}')\n                placeholder_issues += 1\n\n     \
          \   # 提取并剥离 <DIAGRAM_SPECS>...</DIAGRAM_SPECS> 标签\n        diagram_specs = '[]'\n        ds_match = re.search(r'<DIAGRAM_SPECS>(.*?)</DIAGRAM_SPECS>', merged_draft, re.DOTALL)\n        if ds_match:\n            diagram_specs = ds_match.group(1).strip()\n            merged_draft = re.sub(r'\\s*<DIAGRAM_SPECS>.*?</DIAGRAM_SPECS>', '', merged_draft, flags=re.DOTALL)\n\n        # 去除头尾多余的空白字符和换行\n        merged_draft = merged_draft.strip()\n    \n\
          \    return {\n        \"final_draft\": merged_draft,\n        \"placeholder_issues\"\
          : placeholder_issues,\n        \"diagram_specs\": diagram_specs,\n    }\n"
        code_language: python3
        outputs:
          final_draft:
            children: null
            type: string
          placeholder_issues:
            children: null
            type: number
          diagram_specs:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1772166340802'
          - text
          value_type: string
          variable: text_with_search
        - value_selector:
          - '17722555721840'
          - text
          value_type: string
          variable: text_no_search
      height: 52
      id: '1773113650698'
      position:
        x: 1556.5909816521646
        y: 281.8832278116322
      positionAbsolute:
        x: 1556.5909816521646
        y: 281.8832278116322
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - apply_placeholder_repair
          - text
          value_type: string
          variable: text
        - value_selector:
          - apply_placeholder_repair
          - diagram_specs
          value_type: string
          variable: diagram_specs
        - value_selector:
          - apply_placeholder_repair
          - placeholder_issues
          value_type: string
          variable: placeholder_issues
        - value_selector:
          - apply_placeholder_repair
          - placeholder_validation_failed
          value_type: boolean
          variable: placeholder_validation_failed
        - value_selector:
          - apply_placeholder_repair
          - placeholder_repair_report
          value_type: string
          variable: placeholder_repair_report
        selected: false
        title: 输出（占位符已校验）
        type: end
      height: 170
      id: end_repaired
      position:
        x: 3100
        y: 178
      positionAbsolute:
        x: 3100
        y: 178
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -606.2705741010304
      y: -51.958783490985525
      zoom: 0.9171338413661607
  rag_pipeline_variables: []
