legacy/bid-generator/dify-bridge/dify-workflows/ProEngine_Structure_Generate.yml
app:
  description: '大纲生成工作流 — 根据招标需求+解析报告生成技术方案大纲'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: ProEngine_Structure_Generate
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1772165989096-source-1772166340802-target
      source: '1772165989096'
      sourceHandle: source
      target: '1772166340802'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1772166340802-source-code_parse1-target
      source: '1772166340802'
      sourceHandle: source
      target: code_parse1
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1772519593341-source-code_parse2-target
      source: '1772519593341'
      sourceHandle: source
      target: code_parse2
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: code_parse1-source-1773216435745-target
      source: code_parse1
      sourceHandle: source
      target: '1773216435745'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1773216435745-source-1772519593341-target
      source: '1773216435745'
      sourceHandle: source
      target: '1772519593341'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: code_parse2-source-1772166569285-target
      source: code_parse2
      sourceHandle: source
      target: '1772166569285'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: '招标需求列表（含解析报告上下文）'
          label: requirements
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: requirements
        - default: 'tech'
          hint: '标书类型'
          label: bid_type
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: bid_type
        - default: 0
          hint: '用户预期总字数（0=AI自行判断）'
          label: total_words
          options: []
          placeholder: ''
          required: false
          type: number
          variable: total_words
        - default: ''
          hint: '评分标准摘要，从解析报告中自动提取'
          label: scoring_summary
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: scoring_summary
        - default: ''
          hint: '固定技术部分二级标题 JSON'
          label: structure_heading_seed_json
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: structure_heading_seed_json
        - default: ''
          hint: '技术 H2 绑定 JSON（评分项 + 技术目标关联）'
          label: technical_h2_bindings_json
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: technical_h2_bindings_json
        - default: ''
          hint: '项目技术目标 JSON'
          label: technical_targets_json
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: technical_targets_json
        - default: ''
          hint: '后端规则校验产出的待修复问题列表'
          label: outline_review_issues
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: outline_review_issues
        - default: 'false'
          hint: '是否启用响应类章节排序分支'
          label: enable_response_branch
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: enable_response_branch
        - default: 'false'
          hint: '是否启用知识库辅助检索'
          label: use_knowledge
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: use_knowledge
        - default: 0
          hint: '预期总字数（兼容字段，与 total_words 保持一致）'
          label: expected_total_words
          options: []
          placeholder: ''
          required: false
          type: number
          variable: expected_total_words
        - default: 'true'
          hint: '是否启用图表规划输出'
          label: enable_diagrams
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: enable_diagrams
        - default: 6
          hint: '项目图表上限'
          label: max_diagrams
          options: []
          placeholder: ''
          required: false
          type: number
          variable: max_diagrams
      height: 210
      id: '1772165989096'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1772165989096'
          - requirements
        model:
          completion_params:
            enable_thinking: true
            response_format: json_object
            temperature: 0.2
            top_p: 0.7
          mode: chat
          name: Kimi-K2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 7cf4f361-525e-413e-8dfc-025931106306
          role: system
          text: "你是一名资深的招投标解决方案架构师，专注于标书目录规划以及核心技术特征提取。\n\
            我将提供一份已分类的招标需求列表（可能包含从招标文件中提取的结构化解析报告上下文），\
            请你综合分析后生成一套合理的内容大纲（章节结构），并基于你生成的具体章节内容，\
            同步提取用于知识检索的核心关键词和写作引导。\n\n\
            【解析上下文使用原则】\n\
            输入中可能既包含结构化解析摘要，也可能仅包含普通文本片段。\
            如上下文里带有角色提示或分组说明，可将其作为辅助信号；如没有，则直接依据正文内容判断。\
            无论上下文采用何种组织方式，都优先关注：评分标准、技术要求、实质性约束、参数指标、交付物、工期与验收条件。\n\n\
            【结构要求】\n\
            顶层章节数量以输入中的固定 H2 为准，禁止自行增删章节。\n\
            预估每个章节的字数（单位汉字，通常 1000-10000），评分维度高的需求分配更多字数。\n\
            title 字段只保留纯标题文本，不要在标题里写“第一章”“1.1”“1.1.1”等编号；编号由后续导出环节统一生成。\n\
            writingHint 中禁止再抄录一整套与 title 相同的编号小标题列表（避免后续正文重复生成 1.2.1/1.2.2 两遍）；需要突出写作侧重点与评分对应关系。\n\
            分配合法的章节 id (由英文字母和下划线组成)。\n\n\
            【字数分配策略】\n\
            如果提供了 total_words（预期总字数），请严格按照评分标准的分值占比分配各章节字数。\n\
            如果 total_words 为 0 或未提供，请根据需求复杂度自行合理分配，总字数建议 15000-30000 字。\n\n\
            【内容与防越界要求】\n\
            你现在的任务是生成以技术方案、项目实施、进度管理为核心的正文响应大纲。\
            绝对不要编排诸如\"法定代表人授权书\"、\"无重大违法记录声明\"、\"营业执照\"、\
            \"售后服务承诺函\"等独立的商务资质附件模块，不论用户需求中是否提及，\
            这部分由独立体系生成。你的大纲必须 100% 聚焦技术与实施。\n\n\
            【写作引导要求 (writingHint)】\n\
            根据招标文件中的特定得分项或重点，为大纲的每个一级和二级子章节附带一条 writingHint，\
            writingHint 不是“章节摘要”，而是后续正文生成直接消费的“写作指令”，\
            长度尽量控制在 250-300 字，允许少量浮动。\
            每条 writingHint 至少要包含以下五类信息：\
            1. 本节要解决的问题、本节在全章中的作用；\
            2. 必须响应的评分点、技术要求、交付/验收约束；\
            3. 建议正文如何展开，优先写方案机制、实施措施、验证方式、风险控制；\
            4. 与相邻章节的边界，哪些背景或内容不要重复展开；\
            5. 禁止事项，如禁止编造参数、型号、案例、标准编号，禁止输出编号式小标题清单。\
            writingHint 应当引用解析报告中的具体评分项或技术要求说明，但只能写自然语言，不得出现 [id:xxx]。\
            推荐行文方式：多使用“针对…采用…实现…通过…保障…”这类响应式表述，让正文可直接对照评分点落笔。\n\n\
            【关键章节强约束】\n\
            若固定 H2 中包含以下标题，必须满足对应结构要求，禁止输出“重点响应”“补充说明”“概述”等占位词：\n\
            - 售后服务方案：H3 应优先覆盖服务机制、保障措施、时效承诺或升级处置。\n\
            - 响应情况：这是单章直生章节，禁止生成任何 H3，children 必须为 []；请直接在该 H2 上输出完整 writingHint、keywords、relatedAnalysisIds 与字数预算。\n\
            - 项目实施目标：H3 应优先覆盖阶段目标、实施路径、交付与验收目标。\n\
            可参考但不要机械照抄以下模式：\n\
            - 售后服务方案 → “服务响应机制与分级处置”“售后保障措施与资源配置”“运维支持与持续改进安排”\n\
            - 响应情况 → 不生成 H3，正文直接围绕“采购需求逐条响应策略、关键条款偏离控制说明、符合性风险与闭环措施”展开\n\
            - 项目实施目标 → “项目实施总体目标”“阶段性交付目标拆解”“验收成果与成效目标”\n\n\
             ⚠️ 严格禁止：writingHint 字段中禁止出现任何 [id:xxx] 格式的标识符（如 [id:resp_tech]）。\n\\
             节点 ID 引用只能放在 relatedAnalysisIds 数组字段中，writingHint 必须是纯自然语言。\n\n\\
            【检索关键词提取要求 (keywords)】\n\
            对于大纲的每个一级和每个二级章节，提取 2-4 个最核心的实体词（keywords）。\n\
            提取规则：\n\
            绝对不要使用\"项目\"、\"报告\"等宽泛词汇。\n\
            锁定技术实体：只提取核心产品名、技术架构、特定算法、行业专有名词。\n\
            输出短语，可以用双引号包裹要求完全匹配的词。\n\n\
            你必须严格遵守以下输出契约，否则视为失败：\n\
            1. 只能输出一个合法 JSON 对象，不允许任何解释文字、不允许 Markdown、不允许 ```json 代码块。\n\
            2. 顶层必须是 {\"outline\": [...]}。\n\
            3. 顶层 outline 的每一项必须对应系统给定的固定 H2，标题必须原样保留、顺序必须一致、禁止新增 H2、禁止删除 H2、禁止改写 H2。\n\
            4. 你只能在普通 H2 的 children 中补全 H3；若 H2 为“响应情况”，children 必须为空数组 []。\n\
            5. 每个 H2/H3 必须输出 id、title、wordCount、keywords、writingHint、relatedAnalysisIds；如不需要配图，也必须输出 needDiagram=false、diagramBrief=\"\"、diagramPlan={\"enabled\":false,\"brief\":\"\",\"typeHint\":\"logic\",\"priority\":0}。\n\
            6. children 必须是数组，即使为空也必须输出 []。\n\
            7. H3 数量约束：普通 H2 的 children 必须为 1-3 个，严禁超过 3 个；若当前证据不足，也必须补齐 1 个可写的 H3，不能返回空数组。唯独“响应情况”必须保持 children=[]。\n\
            8. 固定 H2 来源约束：固定 H2 列表来自输入 requirements 中的“【固定技术部分二级标题（强制）】”区块，顶层章节必须按该列表原样输出。\n\n\
            【解析报告关联要求 (relatedAnalysisIds)】\n\
            需求列表中包含带有 [id:xxx] 标识的解析报告节点。\n\
            对于每个一级和二级章节，你必须从中选出该章节后续撰写时应重点参考的解析报告节点 ID，\n\
            以数组形式输出为 relatedAnalysisIds 字段（每个章节关联 1-4 个，聚焦最相关的）。\n\
            以下是解析报告节点分类及其在大纲中的典型关联场景：\n\
            ▸ scoring_details（项目评分细则）→ 所有与评分直接挂钩的重点章节（按分值权重关联）\n\
            ▸ resp_tech（技术目标与范围）→ 技术方案、系统设计、服务方案类章节\n\
            ▸ resp_param（参数与指标要求）→ 技术指标、参数响应、配置方案类章节\n\
            ▸ resp_substance（实施与交付硬约束）→ 实施路径、进度安排、交付与验收类章节\n\
            ▸ proj_overview（项目解读）→ 项目总体理解、背景分析类章节\n\
            ▸ proj_basic（项目基础信息）→ 工期、交付地点、采购方式等硬条件类章节\n\
            ▸ structure_attachments（附件部分）→ 文档编排、格式合规、响应材料组织类章节\n\
            ▸ 不同章节应关联不同的节点，避免所有章节都指向同一个 ID。\n\
            ▸ 技术方案核心章节优先关联 resp_tech + scoring_details（看评分占比）；\
            项目理解类章节应关联 proj_overview；实施进度类应关联 resp_substance。\n\n\
            【图表规划输出要求（结构化，严格收敛）】\n\
            你必须为每个一级和二级章节输出图表规划字段，字段名固定为 needDiagram、diagramBrief、diagramPlan：\n\
            - 是否允许配图只取决于该章节是否为最终正文叶子，不取决于它是 H2 还是 H3；凡是仍有 children 的父容器章节，必须 needDiagram=false。\n\
            - needDiagram: 布尔值。默认 false，仅当该章节是最终正文叶子，且存在明确上下游关系、分层结构、技术链路、数据流转或实施流程时才可为 true。\n\
            - diagramBrief: 图表描述。需包含“核心对象 + 与上游衔接点 + 对下游支撑点 + 图表要回答的问题”。\n\
            - diagramPlan: JSON 对象，格式为 {\"enabled\": bool, \"brief\": string, \"typeHint\": \"architecture|flowchart|org-chart|data-flow|logic\", \"priority\": 0-100}。\n\
            - 若 needDiagram=false，则 diagramBrief 置空，diagramPlan.enabled=false，priority=0。\n\
            - 明确定义类、背景介绍类、政策解读类章节默认不建议配图；禁止“为了配图而配图”。\n\
            - 图表数量目标：当图表开关为 true 且图表上限大于 0 时，应尽可能规划接近“图表上限”的图表数量，但不得超过上限；若最终正文叶子章节不足，则以可用叶子章节数量为准。\n\
            - 图表优先倾向评分高、技术性强、结构关系清晰的叶子章节，但不要把非核心叶子章节一律排除，采用权重式分配。\n\
            - 技术核心章节优先使用 typeHint=\"architecture\"，包括总体架构、系统设计、平台能力、接口集成、部署、安全、数据流、运维保障等；只有明确流程步骤类章节才使用 flowchart，组织职责类才使用 org-chart。"
        - id: 672ee8f6-0b4a-4b8b-bb71-b46817e4fef4
          role: user
          text: "标书类型：{{#1772165989096.bid_type#}}\n\n\
            预期总字数：{{#1772165989096.total_words#}}（0 表示由 AI 自行决定）\n\
            图表开关：{{#1772165989096.enable_diagrams#}}\n\
            图表上限：{{#1772165989096.max_diagrams#}}\n\n\
            评分标准摘要：\n{{#1772165989096.scoring_summary#}}\n\n\
            后端规则校验提示：\n{{#1772165989096.outline_review_issues#}}\n\n\
            已提取的需求列表（含解析报告上下文）：\n{{#context#}}\n\n\
            请按约束输出最终 JSON：\n\
            - 顶层只能是固定 H2，顺序必须一致。\n\
            - 每个 H2 的 children 必须 1-3 个 H3。\n\
            - H3 标题必须可直接写正文，禁止“概述/总结/其他/补充说明”。\n\
            - 字段必须完整，不要输出解释文字。\n"
        selected: true
        structured_output:
          schema:
            properties:
              outline:
                description: 生成的标书大纲，包含一级和二级标题
                items:
                  properties:
                    children:
                      minItems: 1
                      maxItems: 3
                      items:
                        properties:
                          headingLevel:
                            type: integer
                          id:
                            type: string
                          keywords:
                            description: 二级章节检索关键词
                            items:
                              type: string
                            type: array
                          relatedAnalysisIds:
                            items:
                              type: string
                            type: array
                          title:
                            description: X.X 二级节名
                            type: string
                          wordCount:
                            type: integer
                          writingHint:
                            description: 该二级章节的正文写作指令，建议 250-300 字
                            type: string
                          needDiagram:
                            type: boolean
                          diagramBrief:
                            type: string
                          diagramPlan:
                            type: object
                        required:
                        - headingLevel
                        - id
                        - keywords
                        - relatedAnalysisIds
                        - title
                        - wordCount
                        - writingHint
                        - needDiagram
                        - diagramBrief
                        - diagramPlan
                        type: object
                      type: array
                    id:
                      type: string
                    keywords:
                      description: 一级章节检索关键词
                      items:
                        type: string
                      type: array
                    title:
                      description: 第X章：章节名称
                      type: string
                    wordCount:
                      description: 一级标题总预计字数
                      type: integer
                    writingHint:
                      description: 该章节的AI写作引导提示词，建议 250-300 字，用于后续正文生成
                      type: string
                    relatedAnalysisIds:
                      items:
                        type: string
                      type: array
                    needDiagram:
                      type: boolean
                    diagramBrief:
                      type: string
                    diagramPlan:
                      type: object
                  required:
                  - id
                  - title
                  - wordCount
                  - keywords
                  - writingHint
                  - children
                  - relatedAnalysisIds
                  - needDiagram
                  - diagramBrief
                  - diagramPlan
                  type: object
                type: array
            required:
            - outline
            type: object
        structured_output_enabled: true
        title: LLM大纲生成
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772166340802'
      position:
        x: 375.0976259816666
        y: 303
      positionAbsolute:
        x: 375.0976259816666
        y: 303
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_seed_titles_from_requirements(requirements_text: str):
              text = str(requirements_text or "")
              if not text:
                  return []
              m = re.search(
                  r"【固定技术部分二级标题（强制）】\s*(.*?)(?:\n\n【|\Z)",
                  text,
                  flags=re.DOTALL,
              )
              block = m.group(1) if m else ""
              titles = []
              for line in block.splitlines():
                  line = line.strip()
                  if not line:
                      continue
                  mm = re.match(r"^\d+\.\s*(.+?)\s*$", line)
                  if mm:
                      titles.append(mm.group(1).strip())
              return titles

          def _extract_seed_titles_from_json(raw: str):
              try:
                  data = json.loads(str(raw or "").strip() or "[]")
              except Exception:
                  return []
              if isinstance(data, dict):
                  data = data.get("headings") or data.get("technical_sections") or data.get("outline") or data.get("sections") or []
              titles = []
              if isinstance(data, list):
                  for item in data:
                      if isinstance(item, dict):
                          title = str(item.get("title") or "").strip()
                      else:
                          title = str(item or "").strip()
                      if title:
                          titles.append(title)
              return titles

          def _normalize_title(value: str) -> str:
              return re.sub(r"\s+", "", str(value or "")).lower()

          def _ensure_list(value):
              return value if isinstance(value, list) else []

          def _clean_keywords(values, title: str):
              items = []
              for item in _ensure_list(values):
                  s = str(item or "").strip()
                  if s and s not in items:
                      items.append(s)
              if not items:
                  core = re.sub(r"^[一二三四五六七八九十0-9\.、\-\s]+", "", str(title or "")).strip()
                  if core:
                      items.append(core[:16])
              return items[:4]

          def _default_child_title(parent_title: str) -> str:
              core = re.sub(r"^[一二三四五六七八九十0-9\.、\-\s]+", "", str(parent_title or "")).strip()
              return f"{core}重点响应" if core else "重点响应"

          def main(structured_output: dict, requirements: str, structure_heading_seed_json: str, technical_h2_bindings_json: str) -> dict:
              data = structured_output if isinstance(structured_output, dict) else {}
              outline = data.get("outline") if isinstance(data.get("outline"), list) else []
              seed_titles = (
                  _extract_seed_titles_from_json(technical_h2_bindings_json)
                  or _extract_seed_titles_from_json(structure_heading_seed_json)
                  or _extract_seed_titles_from_requirements(requirements)
              )

              normalized_outline = []
              used_indexes = set()
              if seed_titles:
                  for idx, seed_title in enumerate(seed_titles):
                      seed_key = _normalize_title(seed_title)
                      raw = {}
                      raw_idx = None
                      for cand_idx, cand in enumerate(outline):
                          if cand_idx in used_indexes or not isinstance(cand, dict):
                              continue
                          if _normalize_title(cand.get("title", "")) == seed_key:
                              raw = cand
                              raw_idx = cand_idx
                              break
                      if raw_idx is None and idx < len(outline) and isinstance(outline[idx], dict):
                          raw = outline[idx]
                          raw_idx = idx
                      if raw_idx is not None:
                          used_indexes.add(raw_idx)

                      children_raw = _ensure_list(raw.get("children"))[:3]
                      children = []
                      for child_idx, child in enumerate(children_raw, start=1):
                          if not isinstance(child, dict):
                              continue
                          title = str(child.get("title") or "").strip()
                          if not title:
                              continue
                          children.append({
                              "id": str(child.get("id") or f"sec_{idx + 1}_{child_idx}"),
                              "title": title,
                              "headingLevel": 3,
                              "wordCount": int(child.get("wordCount") or 300),
                              "keywords": _clean_keywords(child.get("keywords"), title),
                              "writingHint": str(child.get("writingHint") or "").strip(),
                              "relatedAnalysisIds": _ensure_list(child.get("relatedAnalysisIds"))[:4],
                              "needDiagram": bool(child.get("needDiagram") or False),
                              "diagramBrief": str(child.get("diagramBrief") or "").strip(),
                              "diagramPlan": child.get("diagramPlan") if isinstance(child.get("diagramPlan"), dict) else {"enabled": False, "brief": "", "typeHint": "logic", "priority": 0},
                          })
                      normalized_outline.append({
                          "id": str(raw.get("id") or f"tech_heading_{idx + 1}"),
                          "title": seed_title,
                          "headingLevel": 2,
                          "wordCount": int(raw.get("wordCount") or max(1200, 400 * max(len(children), 1))),
                          "keywords": _clean_keywords(raw.get("keywords"), seed_title),
                          "writingHint": str(raw.get("writingHint") or "").strip(),
                          "relatedAnalysisIds": _ensure_list(raw.get("relatedAnalysisIds"))[:4],
                          "needDiagram": bool(raw.get("needDiagram") or False),
                          "diagramBrief": str(raw.get("diagramBrief") or "").strip(),
                          "diagramPlan": raw.get("diagramPlan") if isinstance(raw.get("diagramPlan"), dict) else {"enabled": False, "brief": "", "typeHint": "logic", "priority": 0},
                          "children": children,
                      })
              else:
                  normalized_outline = outline

              data["outline"] = normalized_outline

              tokens = []
              for sec in normalized_outline:
                  tokens.extend(_clean_keywords(sec.get("keywords"), sec.get("title", "")))
                  tokens.append(str(sec.get("title") or "").strip())
                  for child in _ensure_list(sec.get("children")):
                      tokens.extend(_clean_keywords(child.get("keywords"), child.get("title", "")))
                      tokens.append(str(child.get("title") or "").strip())

              compact = []
              for token in tokens:
                  s = str(token or "").strip()
                  if not s:
                      continue
                  if s not in compact:
                      compact.append(s)

              return {
                  "outline_json": json.dumps(data, ensure_ascii=False),
                  "keywords_for_search": " ".join(compact[:18]),
              }
        code_language: python3
        outputs:
          outline_json:
            children: null
            type: string
          keywords_for_search:
            children: null
            type: string
        selected: false
        title: JSON解析1
        type: code
        variables:
        - value_selector:
          - '1772166340802'
          - structured_output
          value_type: object
          variable: structured_output
        - value_selector:
          - '1772165989096'
          - requirements
          value_type: string
          variable: requirements
        - value_selector:
          - '1772165989096'
          - structure_heading_seed_json
          value_type: string
          variable: structure_heading_seed_json
        - value_selector:
          - '1772165989096'
          - technical_h2_bindings_json
          value_type: string
          variable: technical_h2_bindings_json
      height: 52
      id: code_parse1
      position:
        x: 678.5718810804555
        y: 210
      positionAbsolute:
        x: 678.5718810804555
        y: 210
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - code_parse2
          - structured_output
          value_type: string
          variable: structured_output
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1772166569285'
      position:
        x: 1275.8193778159612
        y: 303
      positionAbsolute:
        x: 1275.8193778159612
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          def _extract_seed_titles_from_requirements(requirements_text: str):
              text = str(requirements_text or "")
              if not text:
                  return []
              m = re.search(
                  r"【固定技术部分二级标题（强制）】\s*(.*?)(?:\n\n【|\Z)",
                  text,
                  flags=re.DOTALL,
              )
              block = m.group(1) if m else ""
              titles = []
              for line in block.splitlines():
                  line = line.strip()
                  if not line:
                      continue
                  mm = re.match(r"^\d+\.\s*(.+?)\s*$", line)
                  if mm:
                      titles.append(mm.group(1).strip())
              return titles

          def _extract_seed_titles_from_json(raw: str):
              try:
                  data = json.loads(str(raw or "").strip() or "[]")
              except Exception:
                  return []
              if isinstance(data, dict):
                  data = data.get("headings") or data.get("technical_sections") or data.get("outline") or data.get("sections") or []
              titles = []
              if isinstance(data, list):
                  for item in data:
                      if isinstance(item, dict):
                          title = str(item.get("title") or "").strip()
                      else:
                          title = str(item or "").strip()
                      if title:
                          titles.append(title)
              return titles

          def _normalize_title(value: str) -> str:
              return re.sub(r"\s+", "", str(value or "")).lower()

          def _ensure_list(value):
              return value if isinstance(value, list) else []

          def _clean_keywords(values, title: str):
              items = []
              for item in _ensure_list(values):
                  s = str(item or "").strip()
                  if s and s not in items:
                      items.append(s)
              if not items:
                  core = re.sub(r"^[一二三四五六七八九十0-9\.、\-\s]+", "", str(title or "")).strip()
                  if core:
                      items.append(core[:16])
              return items[:4]

          def _default_child_title(parent_title: str) -> str:
              core = re.sub(r"^[一二三四五六七八九十0-9\.、\-\s]+", "", str(parent_title or "")).strip()
              return f"{core}重点响应" if core else "重点响应"

          def _is_critical_h2(title: str) -> bool:
              s = str(title or "").strip()
              return s in {"售后服务方案", "响应情况", "项目实施目标"}

          def _is_self_generated_h2(title: str) -> bool:
              return str(title or "").strip() == "响应情况"

          def main(structured_output: dict, requirements: str, total_words: int, structure_heading_seed_json: str, technical_h2_bindings_json: str) -> dict:
              raw_data = structured_output if isinstance(structured_output, dict) else {}
              outline = raw_data.get("outline") if isinstance(raw_data.get("outline"), list) else []
              if not outline and isinstance(raw_data, dict):
                  # 兼容异常输出：LLM 直接把单个章节对象放在顶层
                  looks_like_section = bool(raw_data.get("title")) and (
                      isinstance(raw_data.get("children"), list)
                      or raw_data.get("headingLevel") in (2, 3)
                  )
                  if looks_like_section:
                      outline = [raw_data]
              seed_titles = (
                  _extract_seed_titles_from_json(technical_h2_bindings_json)
                  or _extract_seed_titles_from_json(structure_heading_seed_json)
                  or _extract_seed_titles_from_requirements(requirements)
              )
              normalized = []
              used_indexes = set()
              fallback_generated_count = 0
              total_children = 0
              critical_section_failures = []

              source_outline = outline if seed_titles else outline
              if not seed_titles:
                  seed_titles = [str(item.get("title") or "").strip() for item in outline if isinstance(item, dict) and str(item.get("title") or "").strip()]

              for idx, seed_title in enumerate(seed_titles):
                  seed_key = _normalize_title(seed_title)
                  raw = {}
                  raw_idx = None
                  for cand_idx, cand in enumerate(source_outline):
                      if cand_idx in used_indexes or not isinstance(cand, dict):
                          continue
                      if _normalize_title(cand.get("title", "")) == seed_key:
                          raw = cand
                          raw_idx = cand_idx
                          break
                  if raw_idx is None and idx < len(source_outline) and isinstance(source_outline[idx], dict):
                      raw = source_outline[idx]
                      raw_idx = idx
                  if raw_idx is not None:
                      used_indexes.add(raw_idx)

                  raw_children = _ensure_list(raw.get("children"))[:3]
                  children = []
                  for child_idx, child in enumerate(raw_children, start=1):
                      if not isinstance(child, dict):
                          continue
                      title = str(child.get("title") or "").strip()
                      if not title:
                          continue
                      children.append({
                          "id": str(child.get("id") or f"sec_{idx + 1}_{child_idx}"),
                          "title": title,
                          "headingLevel": 3,
                          "wordCount": int(child.get("wordCount") or 300),
                          "keywords": _clean_keywords(child.get("keywords"), title),
                          "writingHint": str(child.get("writingHint") or "").strip(),
                          "relatedAnalysisIds": _ensure_list(child.get("relatedAnalysisIds"))[:4],
                          "needDiagram": bool(child.get("needDiagram") or False),
                          "diagramBrief": str(child.get("diagramBrief") or "").strip(),
                          "diagramPlan": child.get("diagramPlan") if isinstance(child.get("diagramPlan"), dict) else {"enabled": False, "brief": "", "typeHint": "logic", "priority": 0},
                      })

                  if not children:
                      if _is_self_generated_h2(seed_title):
                          children = []
                      elif _is_critical_h2(seed_title):
                          critical_section_failures.append(seed_title)
                      else:
                          fallback_title = _default_child_title(seed_title)
                          fallback_generated_count += 1
                          total_children += 1
                          children.append({
                              "id": f"sec_{idx + 1}_1",
                              "title": fallback_title,
                              "headingLevel": 3,
                              "wordCount": 300,
                              "keywords": _clean_keywords([], fallback_title),
                              "writingHint": str(raw.get("writingHint") or "").strip(),
                              "relatedAnalysisIds": _ensure_list(raw.get("relatedAnalysisIds"))[:4],
                              "needDiagram": False,
                              "diagramBrief": "",
                              "diagramPlan": {"enabled": False, "brief": "", "typeHint": "logic", "priority": 0},
                              "fallbackGenerated": True,
                          })
                  else:
                      total_children += len(children)

                  normalized.append({
                      "id": str(raw.get("id") or f"tech_heading_{idx + 1}"),
                      "title": seed_title,
                      "headingLevel": 2,
                      "wordCount": int(raw.get("wordCount") or max(1200, sum(int(c.get("wordCount") or 0) for c in children))),
                      "keywords": _clean_keywords(raw.get("keywords"), seed_title),
                      "writingHint": str(raw.get("writingHint") or "").strip(),
                      "relatedAnalysisIds": _ensure_list(raw.get("relatedAnalysisIds"))[:4],
                      "needDiagram": bool(raw.get("needDiagram") or False),
                      "diagramBrief": str(raw.get("diagramBrief") or "").strip(),
                      "diagramPlan": raw.get("diagramPlan") if isinstance(raw.get("diagramPlan"), dict) else {"enabled": False, "brief": "", "typeHint": "logic", "priority": 0},
                      "generationStrategy": "response_special" if _is_self_generated_h2(seed_title) else "general",
                      "generatesFromSelf": _is_self_generated_h2(seed_title),
                      "children": children,
                  })

              if total_children <= 0:
                  total_children = sum(len(_ensure_list(item.get("children"))) for item in normalized)
              total_allocated = sum(int(item.get("wordCount") or 0) for item in normalized)
              target = int(total_words or 0)
              validation_pass = True if target <= 0 else (0.85 <= (total_allocated / max(target, 1)) <= 1.15)
              clean_data = {
                  "outline": normalized,
                  "qualityMeta": {
                      "fallbackGeneratedCount": int(fallback_generated_count),
                      "fallbackRatio": float(fallback_generated_count / max(total_children, 1)),
                      "criticalSectionFailures": critical_section_failures,
                  },
              }

              return {
                  "structured_output": json.dumps(clean_data, ensure_ascii=False),
                  "total_allocated": total_allocated,
                  "validation_pass": validation_pass,
              }
        code_language: python3
        outputs:
          structured_output:
            children: null
            type: string
          total_allocated:
            children: null
            type: number
          validation_pass:
            children: null
            type: boolean
        selected: false
        title: 最终校验
        type: code
        variables:
        - value_selector:
          - '1772519593341'
          - structured_output
          value_type: object
          variable: structured_output
        - value_selector:
          - '1772165989096'
          - requirements
          value_type: string
          variable: requirements
        - value_selector:
          - '1772165989096'
          - total_words
          value_type: number
          variable: total_words
        - value_selector:
          - '1772165989096'
          - structure_heading_seed_json
          value_type: string
          variable: structure_heading_seed_json
        - value_selector:
          - '1772165989096'
          - technical_h2_bindings_json
          value_type: string
          variable: technical_h2_bindings_json
      height: 52
      id: code_parse2
      position:
        x: 1275.8193778159612
        y: 210
      positionAbsolute:
        x: 1275.8193778159612
        y: 210
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1773216435745'
          - result
        model:
          completion_params:
            enable_thinking: false
            response_format: json_object
            temperature: 0.15
            top_p: 0.7
          mode: chat
          name: qwen3.6-flash
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 1ac433f7-57a3-49e8-a068-0316e326fb73
          role: system
          text: "你是一名标书评审和润色专家，负责对 AI 生成的标书大纲进行质量审核、润色和修正。\n\n\
            你的审核标准如下：\n\n\
            1. 评分覆盖：对照评分标准摘要，检查所有高权重评分要求是否被映射到章节中，\
            如有遗漏，新建相应章节或将评分点添加到最相关的章节的 writingHint 里。\n\n\
            2. 约束项覆盖：检查所有强制响应、实施与交付硬约束、格式合规类条目是否在大纲中被覆盖，\
            缺失的必须补充对应章节或子章节。\n\n\
            3. 字数平衡：各章节字数应合理，权重高（评分分值高）的章节字数不能少于权重低的章节。\
            单章不得超过全文总字数的 35%，也不得低于 5%。\
            如果上游提供了预期总字数，各章节字数之和应接近该目标值。\n\n\
            4. 二级标题：每个一级章节必须有多个二级标题。一级与二级的 wordCount 各自独立，不做父子覆盖；前端会单独汇总展示。\n\n\
            5. writingHint 质量：每个一级标题必须有 writingHint，内容应与评分标准直接关联，\
            引导写作重点。writingHint 应具体引用评分项分值和解析报告中的技术要求。\n\n\
            6. keywords 质量：检查每个章节的 keywords 是否为技术实体词，去除宽泛词汇。\n\n\
            7. 关键章节修补：若存在“售后服务方案”“项目实施目标”，其 children 不得为占位标题；\
            必须改写成可直接用于正文的 H3，禁止“重点响应/补充说明/概述”。若存在“响应情况”，必须保持 children=[]，并补齐该 H2 自身的 writingHint、keywords、relatedAnalysisIds。\n\n\
            【重要防越界指令】：你现在审核的是技术方案大纲。\
            请绝对不要在你的大纲中编排诸如\"法定代表人授权书\"、\"无重大违法记录声明\"、\
            \"营业执照\"、\"售后服务承诺函\"等独立的商务资质附件模块。\
            这些附件将由专门的商务体系单独生成。\n\n\
            在原有基础上进行润色，如果发现问题则自动修正后输出。\n\
            你必须严格遵守以下输出契约，否则视为失败：\n\
            1. 只能输出一个合法 JSON 对象，不允许任何解释文字、不允许 Markdown、不允许 ```json 代码块。\n\
            2. 顶层必须是 {\"outline\": [...]}。\n\
            3. 固定 H2 的标题和顺序必须与输入保持完全一致，禁止新增、删除、改写 H2。\n\
            4. 普通 H2 的 children 必须为 1-3 个 H3；若为空必须补齐，若超过 3 个必须裁剪到 3 个。唯独“响应情况”必须保持 children=[]。\n\
            5. 仅允许修补 H3、wordCount、keywords、writingHint、relatedAnalysisIds 与图表字段，不允许重写整体结构；父容器章节必须 needDiagram=false，只有最终正文叶子节点才允许保留图表。\n\
            6. 每个 H2/H3 的字段必须完整，children 必须始终为数组。\n\
            7. 顶层禁止出现 id/title/children/wordCount 等章节字段，所有章节必须放在 outline 数组中。\n\
            8. 如果无法稳定输出完整结构，必须返回 {\"outline\": []}，不要输出半结构对象。"
        - id: 7f5c1a1a-4c30-4eff-9906-621436f4da38
          role: user
          text: "评分标准摘要：\n\
            {{#1772165989096.scoring_summary#}}\n\n\
            后端规则校验提示（仅修复以下问题，不要整体重写）：\n\
            {{#1772165989096.outline_review_issues#}}\n\n\
            预期总字数：{{#1772165989096.total_words#}}\n\n\
            知识库检索上下文（可用于补齐后半章节 H3）：\n\
            {{#context#}}\n\n\
            待审核的大纲（由上一个节点生成）：\n\
            {{#code_parse1.outline_json#}}\n\n\
            请仅做必要修补并输出最终大纲 JSON。重点：补齐普通章节的 children，并将每章 H3 控制在最多 3 个；“响应情况”保持空 children。\n\
            若输出不完整或无法确保结构正确，返回 {\"outline\": []}。\n"
        selected: false
        structured_output:
          schema:
            properties:
              outline:
                items:
                  properties:
                    children:
                      minItems: 1
                      maxItems: 3
                      items:
                        properties:
                          headingLevel:
                            type: integer
                          id:
                            type: string
                          keywords:
                            items:
                              type: string
                            type: array
                          relatedAnalysisIds:
                            items:
                              type: string
                            type: array
                          title:
                            type: string
                          wordCount:
                            type: integer
                          writingHint:
                            type: string
                          needDiagram:
                            type: boolean
                          diagramBrief:
                            type: string
                          diagramPlan:
                            type: object
                        required:
                        - headingLevel
                        - id
                        - keywords
                        - relatedAnalysisIds
                        - title
                        - wordCount
                        - writingHint
                        - needDiagram
                        - diagramBrief
                        - diagramPlan
                        type: object
                      type: array
                    id:
                      type: string
                    keywords:
                      items:
                        type: string
                      type: array
                    title:
                      type: string
                    wordCount:
                      type: integer
                    writingHint:
                      type: string
                    relatedAnalysisIds:
                      items:
                        type: string
                      type: array
                    needDiagram:
                      type: boolean
                    diagramBrief:
                      type: string
                    diagramPlan:
                      type: object
                  required:
                  - id
                  - title
                  - wordCount
                  - keywords
                  - writingHint
                  - children
                  - relatedAnalysisIds
                  - needDiagram
                  - diagramBrief
                  - diagramPlan
                  type: object
                type: array
            required:
            - outline
            type: object
        structured_output_enabled: true
        title: LLM大纲润色
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772519593341'
      position:
        x: 958.8491669965151
        y: 303
      positionAbsolute:
        x: 958.8491669965151
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - bM5tMc1Yud/3cz9buJ5nQdEdjWR/6BatvPqrWs7YGQJLP/6BpIaKZiUr0I47IKbg
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: netease-youdao/bce-reranker-base_v1
            provider: langgenius/siliconflow/siliconflow
          top_k: 2
        query_attachment_selector: []
        query_variable_selector:
        - code_parse1
        - keywords_for_search
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1773216435745'
      position:
        x: 678.5718810804555
        y: 303
      positionAbsolute:
        x: 678.5718810804555
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -112.9122824307342
      y: -128.5046238040627
      zoom: 1.4181400356794587
  rag_pipeline_variables: []
