legacy/company-competitors-analysis/dify/workflows/企业分析工具v4.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 企业分析工具v4
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 17750320479530-source-1774493281098-target
      source: '17750320479530'
      sourceHandle: source
      target: '1774493281098'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 17750273924970-source-1774493281098-target
      source: '17750273924970'
      sourceHandle: source
      target: '1774493281098'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: end
      id: 1774425962558-source-1774493281098-target
      source: '1774425962558'
      sourceHandle: source
      target: '1774493281098'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1774425444463-source-1777252416329-target
      source: '1774425444463'
      sourceHandle: source
      target: '1777252416329'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: agent
      id: 1777252416329-source-1774425962558-target
      source: '1777252416329'
      sourceHandle: source
      target: '1774425962558'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: agent
      id: 1777252416329-source-17750273924970-target
      source: '1777252416329'
      sourceHandle: source
      target: '17750273924970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: agent
      id: 1777252416329-source-17750320479530-target
      source: '1777252416329'
      sourceHandle: source
      target: '17750320479530'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: company_name
          max_length: 40
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: company_name
        - hint: ''
          label: company_intro
          max_length: 2048
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: company_intro
      height: 135
      id: '1774425444463'
      position:
        x: -477.6018296872806
        y: 218.91635369539108
      positionAbsolute:
        x: -477.6018296872806
        y: 218.91635369539108
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '任务目标

              基于用户提供的企业信息与当前日期，通过至多2次联网搜索（允许多query合并），收集并整理客观信息，归纳该企业的产品/服务特点。

              所有结论必须严格基于已获取的信息，不允许主观推测、常识补全或基于名称的语义推断。

              执行步骤

              ### 0、查询改写（必须执行）


              在进行搜索前，对用户输入进行标准化与扩展：


              - 将查询改写为**2–4个高质量搜索query**

              - **以中文query为主（优先适配国内企业与中文搜索环境）**

              - 如涉及技术术语、产品名称或国际业务，可补充1–2个英文query


              每个query应覆盖不同侧重点：

              - 企业名称 + 业务领域 + 产品/服务

              - 企业名称 + 功能/特点

              - 企业名称 + 商业模式（如适用）

              - 企业名称 + 用户评价（如适用）


              必须加入时间约束（如：2026（当前年份）、最新、近期、过去一年等）

              1、时间校准（必须执行）

              严格将用户输入日期作为当前日期，并在后续搜索中统一使用时间约束：

              优先检索“过去一年内”的信息

              若信息不足，可放宽至2–3年，但必须标注

              2、信息检索（仅一次调用，多query合并）

              使用联网搜索工具执行一次调用，但必须：

              同时提交步骤0生成的多个query（multi-query）

              优先来源（按可信度排序）：

              官方网站 / 官方文档

              权威媒体 / 行业报告

              知名技术社区 / 分析平台

              论坛 / 用户评论（低优先级，需标注）

              3、信息过滤与质量控制（必须执行）

              对结果进行筛选，仅保留同时满足“相关性 + 可信度”的信息：

              （1）时间过滤

              优先保留过去一年内容

              超过一年：仅在信息缺失时保留，并标注

              （2）来源质量过滤

              剔除低质量内容：

              内容农场 / SEO站

              无明确来源的转载

              同一信息多来源重复 → 合并

              （3）冲突处理

              若不同来源存在冲突：

              保留多个观点

              标注来源差异

              不进行主观裁决

              3.5、信息采纳严格性约束（必须执行）

              在决定是否采纳某条信息时，必须满足以下规则：

              （1）禁止基于名称或表面语义进行推断

              不允许仅根据名称（如“奖学金”“计划”“平台”等）推断其真实性质

              必须存在明确文本证据说明其实际用途或性质

              示例：

              ❌ 错误：看到“XX奖学金” → 推断为科研资助

              ✅ 正确：仅当原文明确说明“用于科研/教育资助”时才可采纳

              （2）必须具备“显式语义证据”

              仅当满足以下条件之一时，才可采纳：

              原文明确描述该产品/活动的功能、用途或目标

              原文直接说明其业务属性（如“用于…”，“提供…服务”）

              否则必须丢弃。

              （3）语义不明确一律丢弃（宁缺毋滥）

              以下情况必须丢弃：

              仅提及名称，无功能说明

              描述模糊（如“某活动/项目”但无具体内容）

              存在歧义或可能误解

              （4）禁止常识补全

              不允许使用常识推断或补全信息

              不允许将“常见含义”强加到具体案例

              （5）低置信度信息处理

              若信息部分可信但存在歧义：

              可保留原始描述

              必须标注：“原文未明确说明具体用途”

              不得用于归纳性结论

              4、信息整理（结构化压缩）

              对冗长内容进行压缩表达（不改变原意）

              每条信息保留：

              来源

              来源类型（官网/媒体/社区）

              时间（如可得）

              相同结论合并，避免重复

              5、分析与归纳（基于事实）

              围绕以下维度进行归纳：

              （1）产品/服务特点

              做什么

              核心功能

              解决的问题

              （2）商业模式/价值实现方式

              收费方式（订阅/一次性/广告等）

              客户类型（如 B2B / B2C）

              （3）质量与用户体验

              性能 / 稳定性

              用户评价 / 反馈

              分析阶段强约束

              每个结论必须有明确来源支撑

              优先使用过去一年信息

              禁止基于名称、直觉或行业常识进行推断

              若缺乏明确功能描述，不得纳入结论

              宁可减少结论数量，也必须保证真实性

              6、失败兜底机制（必须执行）

              情况A：近一年信息不足

              明确说明：“近一年公开信息有限”

              使用较早信息（标注时间）

              情况B：整体信息稀缺

              降低分析粒度，仅描述已知事实

              避免强行归纳

              7、自检（必须执行）

              逐条检查：

              是否每条结论都有来源支撑

              是否优先使用近一年信息

              是否存在未被证据支持的推断

              是否存在重复或冲突未说明

              是否存在“基于名称误判”的情况（如将“活动类奖学金”误判为科研资助）

              输出格式（严格遵守）

              （1）产品/服务特点：

              [结论1]（来源：xxx｜类型：官网/媒体/社区｜时间：xxxx）

              [结论2]（来源：xxx｜类型：xxx｜时间：xxxx）

              （2）商业模式/价值实现方式：

              [结论1]（来源：xxx｜类型：xxx｜时间：xxxx）

              或：无相关信息（原因：xxx）

              （3）质量与用户体验：

              [结论1]（来源：xxx｜类型：xxx｜时间：xxxx）

              或：无相关信息（原因：xxx）

              关键约束

              联网搜索工具最多调用1次（允许multi-query）

              必须执行“查询改写”

              搜索优先基于“过去一年”信息

              所有输出必须可追溯

              严禁编造、推测或使用未验证信息

              严禁基于名称或常识进行语义推断'
          maximum_iterations:
            type: constant
            value: 8
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: qwen3.5-plus
              model_type: llm
              provider: langgenius/tongyi/tongyi
              type: model-selector
          query:
            type: constant
            value: '企业名称：{{#1774425444463.company_name#}}

              企业简介：{{#1774425444463.company_intro#}}

              目前时间：{{#1777252416329.current_date#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: '使用阿里云开放平台联网检索。返回中包含 result.search_result 列表， 每条含 title、link、snippet/content
                  等字段（以实际响应为准）。

                  '
              parameters:
                content_type:
                  auto: 0
                  value:
                    type: mixed
                    value: null
                history:
                  auto: 0
                  value:
                    type: mixed
                    value: null
                query:
                  auto: 1
                  value: null
                query_rewrite:
                  auto: 0
                  value:
                    type: constant
                    value: null
                top_k:
                  auto: 0
                  value:
                    type: constant
                    value: null
              provider_name: 828b4624-adec-4f2d-b885-fb03ecb464b8
              provider_show_name: 阿里云联网搜索
              settings: {}
              tool_description: '使用阿里云开放平台联网检索。返回中包含 result.search_result 列表， 每条含
                title、link、snippet/content 等字段（以实际响应为准）。

                '
              tool_label: aliyun_open_search_web_search
              tool_name: aliyun_open_search_web_search
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.33@fb9f8a19f25e22e0eefb8b62241c004fe237f00f015b4e1b653be2fd6bbac2e9
        selected: false
        title: 产品/服务分析
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1774425962558'
      position:
        x: 311.63085745641683
        y: -45.06199301868125
      positionAbsolute:
        x: 311.63085745641683
        y: -45.06199301868125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '17750320479530'
          - text
          value_type: string
          variable: lately
        - value_selector:
          - '1774425962558'
          - text
          value_type: string
          variable: product
        - value_selector:
          - '17750273924970'
          - text
          value_type: string
          variable: tech
        selected: false
        title: 输出
        type: end
      height: 140
      id: '1774493281098'
      position:
        x: 708.5381513071209
        y: 239.91635369539108
      positionAbsolute:
        x: 708.5381513071209
        y: 239.91635369539108
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '任务目标

              基于用户提供的企业信息与当前日期，，通过至多2次联网搜索（允许multi-query合并），收集并整理客观信息，归纳该企业在技术力方面的表现。

              所有结论必须严格基于已获取的信息，不允许主观推测、常识补全或基于名称的语义推断。

              执行步骤

              0、查询改写（必须执行）

              在进行搜索前，对用户输入进行标准化与扩展：

              将查询改写为2–4个高质量搜索query

              以中文query为主（适配中国企业与中文搜索环境）

              如涉及技术术语、论文或国际业务，可补充1–2个英文query

              每个query覆盖不同技术力维度：

              企业名称 + 论文 / 专利 / 科研成果

              企业名称 + 标准 / 白皮书 / 行业会议

              企业名称 + 开源项目 / 技术博客 / 技术方案

              企业名称 + 项目案例 / 解决方案 / 技术应用

              必须加入时间约束（如：2026（当前年份）、最新、近期、过去一年等）

              1、时间校准（必须执行）

              严格将用户输入日期作为当前日期，并在后续搜索中统一使用时间约束：

              优先检索“过去一年内”的信息

              若信息不足，可放宽至2–3年，但必须标注

              2、信息检索（仅一次调用，多query合并）

              使用联网搜索工具执行一次调用，但必须：

              同时提交步骤0生成的多个query（multi-query）

              优先来源（按可信度排序）：

              官方网站 / 官方文档 / 官方公告

              权威媒体 / 行业报告 / 学术数据库

              技术社区（如开源平台、技术博客）

              论坛 / 用户讨论（低优先级，需标注）

              3、信息整理与质量过滤（必须执行）

              仅保留满足“相关性 + 可信度”的信息：

              （1）时间过滤

              优先保留过去一年内容

              超过一年：仅在信息缺失时保留，并标注

              （2）来源质量过滤

              剔除低质量来源：

              SEO内容农场

              无来源转载

              重复信息合并

              （3）冲突处理

              若不同来源存在冲突：

              保留多种说法

              标注来源差异

              不进行主观判断

              3.5、信息采纳严格性约束（技术力专项强化，必须执行）

              （1）禁止“名称驱动”的技术力推断

              不允许仅根据名称判断技术属性

              示例：

              ❌ “XX实验室” → 推断为具备科研能力

              ❌ “XX算法平台” → 推断为自研核心算法

              ❌ “XX专利计划” → 推断已有专利成果

              必须有明确证据说明其真实技术内容。

              （2）必须具备“明确技术行为证据”

              仅当原文明确描述以下内容之一，才可采纳：

              具体论文 / 专利 / 技术成果

              明确技术方案 / 架构 / 方法

              开源代码 / 技术实现

              实际项目中的技术应用

              否则必须丢弃。

              （3）区分“技术参与”与“技术主导”（关键）

              必须区分：

              ❌ 参与活动 ≠ 技术输出

              ❌ 使用技术 ≠ 拥有技术能力

              ❌ 宣传描述 ≠ 实际技术实现

              只有当明确体现“技术贡献/输出”时，才计入技术力。

              （4）语义不明确一律丢弃（宁缺毋滥）

              以下情况必须丢弃：

              仅提及名称（如“参与某论坛”）但无技术内容

              仅描述“合作/发布”，无技术细节

              技术内容模糊或无法确认

              （5）禁止常识补全

              不允许用行业经验补全技术能力

              不允许根据“公司规模/知名度”推断技术力

              （6）低置信度信息处理

              若信息存在歧义：

              可保留原始描述

              必须标注：“原文未明确说明具体技术内容”

              不得用于归纳性结论

              4、信息整理（结构化压缩）

              对冗长内容进行压缩表达（不改变原意）

              每条信息保留：

              来源

              来源类型（官网/媒体/社区）

              时间

              按“四类技术力信息”归类

              相同结论合并

              5、分析与归纳（基于事实）

              围绕以下四类技术力维度进行归纳：

              （1）技术硬指标（论文/专利）

              是否存在明确论文、专利或科研成果

              是否有数量或规模数据

              是否有明确技术方向

              （2）行业影响力与规则参与

              是否参与标准制定或白皮书

              是否参与行业会议（需有技术输出证据）

              是否体现行业话语权

              （3）技术输出与知识分享

              是否存在开源项目或技术博客

              是否输出技术方案或方法论

              是否持续技术内容沉淀

              （4）技术/能力的实际应用

              是否存在项目落地或客户案例

              是否有明确技术方案

              是否体现技术在业务中的应用

              分析阶段强约束

              每个结论必须有明确来源支撑

              优先使用过去一年信息

              禁止基于名称、直觉或常识推断

              未明确技术内容的信息不得纳入结论

              宁可减少结论数量，也必须保证真实性

              6、失败兜底机制（必须执行）

              情况A：近一年信息不足

              标注：“近一年公开技术信息有限”

              使用较早信息（标注时间）

              情况B：整体信息稀缺

              降低分析粒度，仅描述明确事实

              不进行技术能力推断

              7、自检（必须执行）

              逐条检查：

              是否每条结论都有来源支撑

              是否优先使用近一年信息

              是否存在未被证据支持的推断

              是否存在重复或冲突未说明

              是否存在以下误判：

              将“活动/论坛参与”误判为技术输出

              将“名称类信息”误判为技术能力

              将“使用技术”误判为“具备技术”

              输出格式（严格遵守）

              （1）技术硬指标（论文/专利）：

              [结论1]（来源：xxx｜类型：官网/媒体/社区｜时间：xxxx）

              或：无相关信息（原因：xxx）

              （2）行业影响力与规则参与：

              [结论1]（来源：xxx｜类型：xxx｜时间：xxxx）

              或：无相关信息（原因：xxx）

              （3）技术输出与知识分享：

              [结论1]（来源：xxx｜类型：xxx｜时间：xxxx）

              或：无相关信息（原因：xxx）

              （4）技术/能力的实际应用：

              [结论1]（来源：xxx｜类型：xxx｜时间：xxxx）

              或：无相关信息（原因：xxx）

              关键约束

              联网搜索工具最多调用1次（允许multi-query）

              必须执行“查询改写”

              搜索优先基于“过去一年”信息

              所有输出必须可追溯

              严禁编造、推测或未验证信息

              严禁基于名称或常识进行技术力推断'
          maximum_iterations:
            type: constant
            value: 8
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: qwen3.5-plus
              model_type: llm
              provider: langgenius/tongyi/tongyi
              type: model-selector
          query:
            type: constant
            value: '企业名称：{{#1774425444463.company_name#}}

              企业简介：{{#1774425444463.company_intro#}}

              目前时间：{{#1777252416329.current_date#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: '使用阿里云开放平台联网检索。返回中包含 result.search_result 列表， 每条含 title、link、snippet/content
                  等字段（以实际响应为准）。

                  '
              parameters:
                content_type:
                  auto: 0
                  value:
                    type: mixed
                    value: null
                history:
                  auto: 0
                  value:
                    type: mixed
                    value: null
                query:
                  auto: 1
                  value: null
                query_rewrite:
                  auto: 0
                  value:
                    type: constant
                    value: null
                top_k:
                  auto: 0
                  value:
                    type: constant
                    value: null
              provider_name: 828b4624-adec-4f2d-b885-fb03ecb464b8
              provider_show_name: 阿里云联网搜索
              settings: {}
              tool_description: '使用阿里云开放平台联网检索。返回中包含 result.search_result 列表， 每条含
                title、link、snippet/content 等字段（以实际响应为准）。

                '
              tool_label: aliyun_open_search_web_search
              tool_name: aliyun_open_search_web_search
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.33@fb9f8a19f25e22e0eefb8b62241c004fe237f00f015b4e1b653be2fd6bbac2e9
        selected: false
        title: 技术力分析
        tool_node_version: '2'
        type: agent
      height: 188
      id: '17750273924970'
      position:
        x: 311.63085745641683
        y: 239.91635369539108
      positionAbsolute:
        x: 311.63085745641683
        y: 239.91635369539108
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '任务目标

              基于用户提供的企业信息，通过联网搜索收集该企业的相关动态、事件与公开信息，并输出为可被 json.loads 直接解析的结构化数据。

              所有内容必须来源于真实网页信息，不允许编造或主观推断。

              核心要求

              一、搜索策略（不限制时间）

              使用多角度关键词进行搜索，覆盖以下方向（固定，不允许修改）：

              企业名称 + 产品 / 发布

              企业名称 + 融资 / 合作 / 扩张

              企业名称 + 战略 / 技术

              企业名称 + 高管 / 组织

              企业名称 + 处罚 / 风险 / 负面

              要求：

              不限制时间范围

              不允许修改关键词

              每一轮必须使用不同方向

              二、搜索轮次限制（非常关键）

              最多允许进行 5 轮搜索

              每一轮必须执行以下流程：

              步骤1：执行搜索

              使用当前轮对应方向关键词进行搜索

              步骤2：信息提取（谨慎）

              仅提取满足以下条件的事件：

              明确主体为该企业

              存在具体行为（发布 / 合作 / 招聘 / 调整等）

              有明确或可识别时间

              若不满足条件：不得提取

              如果在第2轮或第3轮已获取足够信息，可以提前停止搜索，不强制执行满5轮

              步骤3：本轮总结（强制执行，不输出到最终结果）

              【本轮总结】

              1）本轮新增获取的信息：

              列出所有已确认事实（必须来自网页）

              2）当前已累计掌握的信息类别：

              从以下类别中列出已覆盖项：

              产品 / 融资 / 战略 / 组织 / 风险 / 新闻 / 招聘

              3）当前仍缺失的信息方向：

              从上述类别中指出未覆盖或较弱的方向

              4）是否已足够生成最终结果：

              必须回答：是 / 否

              约束：

              禁止推测

              禁止补全未出现信息

              禁止使用“可能”“推测”等表达

              三、兜底搜索机制（必须执行）

              当满足以下条件时：

              已完成最多 5 轮搜索

              或

              信息覆盖仍不足

              必须执行兜底搜索：

              关键词：<企业名称> 消息 新闻 动态 招聘 岗位

              要求：

              不计入5轮限制

              四、信息整合要求

              最终输出时必须：

              综合所有轮次（含兜底）结果

              去重、筛选、排序

              禁止按轮次输出

              五、信息类型覆盖

              尽量包含：

              正面信息（产品、合作等）

              中性信息（公告、组织等）

              负面信息（处罚、争议等）

              约束：

              不得忽略负面信息

              不得带有倾向性

              六、事件筛选标准

              仅保留满足以下条件的事件：

              明确主体

              明确行为

              有时间

              允许：

              新闻

              官网信息

              招聘

              产品信息

              必须剔除：

              评论 / 观点

              行业分析

              汇总内容

              无实际行为

              七、信息真实性要求

              每条信息必须：

              来源真实网页

              提供来源名称

              提供完整URL

              禁止：

              编造

              推断拼接

              使用无关页面

              八、字段要求

              每条事件必须包含：

              标题

              类型（正面 / 中性 / 负面）

              内容

              影响（仅客观事实）

              来源

              链接（完整URL）

              时间（YYYY-MM-DD，时间信息未精确到具体日期的可以放宽YYYY-MM / YYYY）

              九、影响约束

              仅允许客观事实

              禁止预测、推断、主观评价

              十、事件筛选与排序（最多10条）

              步骤1：按时间降序排序

              最新在前

              无时间放最后

              排序后不得调整

              步骤2：同时间段筛选

              当时间接近或相同，仅保留优先级更高：

              优先级从高到低：

              1）经营影响（融资、合作、业务变化）

              2）战略变化

              3）风险 / 负面

              4）产品发布

              5）一般信息（招聘等）

              规则：

              同时间低优先级直接丢弃

              不跨时间比较

              步骤3：覆盖性补充

              按顺序取最多10条

              若类型过于单一：

              用后续不同类型替换最后一条（最多1次）

              限制：

              排序流程只执行一次

              禁止回溯修改

              达到10条立即停止

              十一、信息不足处理

              若未检索到有效事件，输出：

              {"动态整理说明": "已完成多轮搜索（含兜底搜索），但未检索到该企业相关公开动态信息", "企业动态": []}

              十二、输出格式（必须严格遵守）

              必须为 json.loads 可解析字符串

              不得输出任何额外说明

              最终输出格式：

              {"动态整理说明": "说明整体搜索情况（如搜索轮次、是否执行兜底搜索、信息覆盖情况等）", "企业动态": [{"标题": "事件标题",
              "类型": "正面 / 中性 / 负面", "内容": "事件内容", "影响": "客观影响", "来源": "来源名称", "链接":
              "https://完整URL", "时间": "YYYY-MM-DD / YYYY-MM / YYYY"}]}'
          maximum_iterations:
            type: constant
            value: 12
          model:
            type: constant
            value:
              completion_params:
                enable_thinking: true
              mode: chat
              model: qwen3.5-plus
              model_type: llm
              provider: langgenius/tongyi/tongyi
              type: model-selector
          query:
            type: constant
            value: '企业名称：{{#1774425444463.company_name#}}

              企业简介：{{#1774425444463.company_intro#}}

              目前时间：{{#1777252416329.current_date#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: '使用阿里云开放平台联网检索。返回中包含 result.search_result 列表， 每条含 title、link、snippet/content
                  等字段（以实际响应为准）。

                  '
              parameters:
                content_type:
                  auto: 0
                  value:
                    type: mixed
                    value: null
                history:
                  auto: 0
                  value:
                    type: mixed
                    value: null
                query:
                  auto: 1
                  value: null
                query_rewrite:
                  auto: 0
                  value:
                    type: constant
                    value: false
                top_k:
                  auto: 0
                  value:
                    type: constant
                    value: null
              provider_name: 828b4624-adec-4f2d-b885-fb03ecb464b8
              provider_show_name: 阿里云联网搜索
              settings: {}
              tool_description: '使用阿里云开放平台联网检索。返回中包含 result.search_result 列表， 每条含
                title、link、snippet/content 等字段（以实际响应为准）。

                '
              tool_label: aliyun_open_search_web_search
              tool_name: aliyun_open_search_web_search
              type: api
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.33@fb9f8a19f25e22e0eefb8b62241c004fe237f00f015b4e1b653be2fd6bbac2e9
        selected: false
        title: 近期动态
        tool_node_version: '2'
        type: agent
      height: 188
      id: '17750320479530'
      position:
        x: 311.63085745641683
        y: 507.47576853925034
      positionAbsolute:
        x: 311.63085745641683
        y: 507.47576853925034
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from datetime import date\n\ndef main():\n    today = date.today()\n\
          \    return {\n        \"current_date\": str(today),\n    }\n"
        code_language: python3
        outputs:
          current_date:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables: []
      height: 52
      id: '1777252416329'
      position:
        x: -174.13119743494406
        y: 239.91635369539108
      positionAbsolute:
        x: -174.13119743494406
        y: 239.91635369539108
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 328.70333595802094
      y: 145.0472656314882
      zoom: 0.5592197697215033
  rag_pipeline_variables: []
