legacy/company-competitors-analysis/dify/workflows.generated/企业对比-汇总.yml
app:
  description: '在v2的基础上，针对以下问题进行完善：

    1、分析报告结构/排版（双方都缺信息的分析项、一方缺少信息的信息项等）'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 企业对比-汇总
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.43@c56cb5159e37b2719559550518312773bb08e11baaf5b791cccf472d272b5438
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17757172650450-source-17757172718320-target
      source: '17757172650450'
      sourceHandle: source
      target: '17757172718320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 17757172718320-source-1775633576967-target
      source: '17757172718320'
      sourceHandle: source
      target: '1775633576967'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774315293799-source-17757172650450-target
      source: '1774315293799'
      sourceHandle: source
      target: '17757172650450'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: target_company_name
          max_length: 40
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: target_company_name
        - default: ''
          hint: ''
          label: target_company_intro
          max_length: 2048
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: target_company_intro
        - default: ''
          hint: ''
          label: competitor
          max_length: 40
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: competitor
        - default: ''
          hint: ''
          label: competitor_intro
          max_length: 2048
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: competitor_intro
        - default: ''
          hint: ''
          label: product_analysis
          max_length: 40960
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: product_analysis
        - default: ''
          hint: ''
          label: tech_analysis
          max_length: 40960
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: tech_analysis
        - default: ''
          hint: ''
          label: lately_analysis
          max_length: 40960
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: lately_analysis
      height: 265
      id: '1774315293799'
      position:
        x: 0
        y: 0
      positionAbsolute:
        x: 0
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '17757172718320'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 3
        type: end
      height: 88
      id: '1775633576967'
      position:
        x: 1026
        y: 89
      positionAbsolute:
        x: 1026
        y: 89
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1774422613953'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: kimi-k2.5
          provider: langgenius/tongyi/tongyi
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - id: c0c986a1-9017-44ce-b91d-67f2f4345ea3
          role: system
          text: '# 目标

            作为专业的分析顾问，总结你获取的目标分析企业与其竞争对手企业的多角度对比材料，形成一份整体分析报告


            ## 内容要求

            - 首先基于用户提供的材料，进行梳理并生成报告主体内容；

            - 之后再添加一节，作为重点提炼；

            - 在重点提炼之后，再添加一个章节，整体分析目标企业现状与相较竞争对手的优劣。


            ## 格式/规范等要求

            - 除基础常识外，仅基于用户输入信息进行回答，不要带入自身对企业的认识，同时严禁胡编乱造；

            - 分析报告需要完整覆盖用户提供材料的各个角度，但在内容上可以做精炼；

            - 输出的报告中不要显式出现类似“作为顾问”、“顾问角度意见”等表述，保持行文流畅；

            - 输出的报告各级标题要能够有效概括对应章节内容，不要使用类似“主体部分”等的标题，增强报告的专业性；

            - 进行具体分析时保持客观公正，但整体要从目标企业顾问的角度组织语言，避免过于尖锐的话语；'
        - edition_type: basic
          id: 6a418d11-e057-493a-9b61-0d305c50735c
          role: user
          text: '目标分析企业：{{#1774315293799.target_company_name#}}

            目标分析企业简介：{{#1774315293799.target_company_intro#}}

            竞争对手：{{#1774315293799.competitor#}}

            竞争对手简介：{{#1774315293799.competitor_intro#}}

            双方产品/服务对比：{{#1774315293799.product_analysis#}}

            双方技术力对比：{{#1774315293799.tech_analysis#}}

            双方近期动态分析对比：{{#1774315293799.lately_analysis#}}

            '
        selected: false
        title: 总结对比
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17757172650450'
      position:
        x: 342
        y: 89
      positionAbsolute:
        x: 342
        y: 89
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1774422613953'
        model:
          completion_params:
            enable_search: true
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 32f086b7-9d18-42c4-b618-756823c4f626
          role: system
          text: "# 角色设定\n你是一位具备联网搜索能力的专业分析顾问，擅长对企业对比分析报告进行信息完善、信息校验与结构优化。\n\n---\n\
            \n# 任务说明\n你将收到一份两家企业（目标分析企业与其竞争对手）的横向对比报告。  \n报告中已对两家企业的多方面进行了信息收集与优劣势分析，但部分企业信息项可能存在缺失、过时、空洞或分析价值不足的问题。\n\
            \n你需要基于联网搜索结果，对报告进行：\n\n- 信息补全\n- 信息校验\n- 内容优化\n- 结构调整\n- 低价值内容裁剪\n\n\
            最终输出一份信息更加准确、表达更加自然、结构更加合理的企业对比分析报告。\n\n---\n\n# 执行流程\n\n## 1. 分析现有报告\n\
            识别：\n- 信息缺失项\n- 信息明显过时项\n- 存在“空洞分析”的章节\n- 信息密度明显不足的维度\n- 对当前企业类型不重要或不适用的分析维度\n\
            \n重点关注：\n- 是否存在大量“未查询到”“暂无公开信息”“无相关记录”等重复表述；\n- 是否存在虽然保留了章节，但实际上没有有效分析价值的情况。\n\
            \n---\n\n## 2. 联网搜索与补全\n基于联网搜索：\n\n- 补充可确认的信息；\n- 修正错误或过时内容；\n- 若搜索后仍无法确认，则保持缺失状态，不得编造。\n\
            \n补充内容时：\n- 优先使用企业官网、工商信息、官方新闻、权威数据库等可信来源；\n- 避免引用低可信度营销内容；\n- 不为了“填满报告”而强行补充弱相关信息。\n\
            \n---\n\n## 3. 动态优化报告结构\n你需要根据“信息丰富度”与“分析价值”动态调整报告结构，而不是机械保留原有章节。\n\n\
            ### 结构优化规则\n\n#### （1）空信息降级规则\n若某个章节中：\n\n- 双方企业均缺乏有效公开信息；\n- 或绝大多数内容仅为“未检索到”“暂无记录”等；\n\
            - 或无法形成有效对比；\n\n则：\n\n- 不使用表格展示；\n- 改为使用1~3句话简要概括；\n- 避免生成大面积空表格或重复性的缺失描述。\n\
            \n例如：\n不要输出：\n\n| 专利 | 无 |\n| --- | --- |\n\n而应改为：\n\n“双方均未公开较多技术研发或知识产权相关信息，现阶段公开渠道中暂未体现明显技术能力差异。”\n\
            \n---\n\n#### （2）低价值维度裁剪规则\n若某个分析维度：\n\n- 信息缺失严重；\n- 且对于该类企业本身分析价值较低；\n\
            - 或该维度无法有效影响企业竞争力判断；\n\n则允许：\n\n- 将相关内容弱化为一句话；\n- 融合进其它章节中顺带提及；\n- 或直接删除该章节。\n\
            \n尤其对于：\n\n- 传统行业\n- 区域型企业\n- 小微企业\n- 非技术驱动型企业\n\n不要机械保留：\n\n- GitHub\
            \ 开源\n- 技术社区活跃度\n- 学术论文\n- AI 能力\n- 技术平台\n- 标准制定\n- 软件著作权等\n\n除非这些内容确实对企业竞争力具有实际意义。\n\
            \n---\n\n#### （3）保留“分析有效性”\n报告重点应放在：\n\n- 真正能形成差异的维度；\n- 与企业经营实际更相关的内容；\n\
            - 有公开证据支撑的比较项。\n\n宁可减少章节数量，也不要保留大量“无有效信息”的分析模块。\n\n---\n\n## 4. 上下文一致性调整\n\
            在补全或删减内容后：\n\n- 同步调整上下文描述；\n- 删除已经失效的“信息缺失”描述；\n- 避免前后矛盾；\n- 保持报告整体逻辑连贯。\n\
            \n---\n\n# 输出要求\n\n- 最终仅输出修改完善后的完整报告；\n- 不输出过程说明；\n- 不输出搜索过程；\n- 不输出“未找到信息因此删除”等元说明；\n\
            - 行文保持专业、自然、简洁；\n- 优先保证“分析有效性”与“阅读体验”，而非维度数量。\n\n---\n\n# 核心原则（最高优先级）\n\
            \n## “有价值的信息优先于完整的形式”\n\n允许：\n- 删除低价值章节；\n- 合并弱信息章节；\n- 弱化无法形成对比的维度；\n\
            \n禁止：\n- 为了结构完整而输出空洞内容；\n- 为了维持表格而生成大量“暂无信息”；\n- 对双方都缺失的信息进行机械化罗列。"
        - id: b8315a2c-fbeb-4c16-b2d3-3596c185969b
          role: user
          text: '已有分析报告：{{#17757172650450.text#}}

            目标分析企业：{{#1774315293799.target_company_name#}}

            竞争对手：{{#1774315293799.competitor#}}'
        selected: false
        title: 对比分析结果完善
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17757172718320'
      position:
        x: 684
        y: 89
      positionAbsolute:
        x: 684
        y: 89
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    viewport:
      x: 131
      y: 271
      zoom: 0.7
  rag_pipeline_variables: []
