legacy/contract_review/workflows/ai改写-聚合-revise改写.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: ai改写-聚合-revise改写
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.36@a45e8cc9bfc9e37ab58c3ee31248bc43792a6653fc011e2433129e2942fbbc27
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1773494602129-source-1773494609582-target
      source: '1773494602129'
      sourceHandle: source
      target: '1773494609582'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1773494609582-source-1773494768505-target
      source: '1773494609582'
      sourceHandle: source
      target: '1773494768505'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: target_text
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: target_text
        - default: ''
          hint: ''
          label: suggestion
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: suggestion
        - default: ''
          hint: ''
          label: issue
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: issue
        - default: ''
          hint: ''
          label: risk_label
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: risk_label
        - default: ''
          hint: ''
          label: clause_text
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: clause_text
        - default: ''
          hint: ''
          label: review_side
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: review_side
        - default: ''
          hint: ''
          label: contract_type_hint
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: contract_type_hint
        - default: ''
          hint: ''
          label: anchored_risk_json
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: anchored_risk_json
        - default: ''
          hint: ''
          label: multi_clause_risks_json
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: multi_clause_risks_json
        - default: ''
          hint: ''
          label: multi_clause_risk_json
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: multi_clause_risk_json
        - default: ''
          hint: ''
          label: anchored_risks_json
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: anchored_risks_json
      height: 369
      id: '1773494602129'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: kimi-k2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 63be0a9a-62fb-4ac5-ab82-badfd77a50e4
          role: system
          text: '你是合同条款修订助手。你的任务是：仅对输入的 target_text 做“最小必要修改”，使其更符合输入的 suggestion（修改建议），并保持合同语言风格一致。


            硬性规则（必须遵守）：

            1) 只改 target_text 覆盖的文本范围，不要改写 clause_text 的其它内容，不要新增与建议无关的新义务或新结论。

            2) 修改应尽量少：除非 suggestion 明确要求补充/限定，否则不要大幅增删句子结构；尽量保留原主语、对象、定义词、金额/日期/比例/期限等。

            3) 不得编造合同中不存在的事实、附件、条款编号或定义；不要引用不存在的法律条文。

            4) 如果 clause_text 为空或不足以提供上下文，则只基于 target_text 与 suggestion 改写，但仍要保证语义自洽、可落地。

            5) 输出必须严格符合 JSON Schema（结构化输出），不要输出任何额外文字、不要 markdown、不要解释过程。

            6）revised_text是可直接替换 target_text 的最终文本，如遇到最终文本有不完整或者歧义的，可以适当进行润色，确保语句是畅通的（重要！）。


            输出要求：

            - edit_type 固定为 "replace"

            - revised_text：可直接替换 target_text 的最终文本。

            - rationale：用 1-3 句说明“做了哪些约束/限定/澄清，以及为什么（对应 suggestion）”



            格式为：

            {

            "type": "object",

            "properties": {

            "edit_type": {

            "type": "string",

            "enum": ["replace"]

            },

            "revised_text": {

            "type": "string",

            "description": "改写后的文本，可直接替换

            target_text",

            },

            "rationale": {

            "type": "string",

            "description": "简要说明改写理由（对齐 suggestion），用于本地生成批注"

            }

            },

            "required": ["edit_type", "revised_text", "rationale"],

            "additionalProperties": false

            }'
        - id: afac607e-acfc-4d19-9ae1-e6800a0ae5d0
          role: user
          text: '审查视角：{{#1773494602129.review_side#}}

            合同类型：{{#1773494602129.contract_type_hint#}}

            风险点：{{#1773494602129.risk_label#}}

            问题：{{#1773494602129.issue#}}


            输出格式为

            {

            "type": "object",

            "properties": {

            "edit_type": {

            "type": "string",

            "enum": ["replace"]

            },

            "revised_text": {

            "type": "string",

            "description": "改写后的文本，可直接替换 target_text"：最需要改写的原文片段

            },

            "rationale": {

            "type": "string",

            "description": "简要说明改写理由（对齐 suggestion），用于本地生成批注"

            }

            },

            "required": ["edit_type", "revised_text", "rationale"],

            "additionalProperties": false

            }


            【条款上下文（仅用于理解，不要整段改写）】

            {{#1773494602129.clause_text#}}


            【需要改写的原文片段 target_text】

            {{#1773494602129.target_text#}}


            【修改建议 suggestion（必须遵循）】

            {{#1773494602129.suggestion#}}


            【anchored 风险 JSON（原样输入，仅作上下文）】

            {{#1773494602129.anchored_risk_json#}}


            【multi clause 风险 JSON（原样输入，仅作上下文）】

            {{#1773494602129.multi_clause_risks_json#}}'
        retry_config:
          max_retries: 1
          retry_enabled: true
          retry_interval: 1000
        selected: true
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 117
      id: '1773494609582'
      position:
        x: 387.1349294140034
        y: 282
      positionAbsolute:
        x: 387.1349294140034
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773494609582'
          - text
          value_type: string
          variable: structured_output
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1773494768505'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 39.38752050482674
      y: -27.930209151526356
      zoom: 0.9569593454319522
  rag_pipeline_variables: []
