legacy/bid-generator/dify/workflows/ProEngine_Content_Rewrite.yml
app:
  description: '单章节重生成：先 review 当前章节初稿，再基于 review 结果输出最终改写正文；review 不直接暴露给前端。'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: ProEngine_Content_Rewrite
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: [.JPG, .JPEG, .PNG, .GIF, .WEBP, .SVG]
      allowed_file_types: [image]
      allowed_file_upload_methods: [local_file, remote_url]
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods: [local_file, remote_url]
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-source-review-target
      source: start_node
      sourceHandle: source
      target: llm_review
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: review-source-rewrite-target
      source: llm_review
      sourceHandle: source
      target: llm_rewrite
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: rewrite-source-code-target
      source: llm_rewrite
      sourceHandle: source
      target: code_clean
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: code-source-placeholder-scan-target
      source: code_clean
      sourceHandle: source
      target: placeholder_scan
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: placeholder-scan-source-if-target
      source: placeholder_scan
      sourceHandle: source
      target: if_placeholder_issues
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: if-placeholder-true-repair-target
      source: if_placeholder_issues
      sourceHandle: 'true'
      target: placeholder_repair_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: if-placeholder-false-end-target
      source: if_placeholder_issues
      sourceHandle: 'false'
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: placeholder-repair-source-apply-target
      source: placeholder_repair_llm
      sourceHandle: source
      target: apply_placeholder_repair
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: apply-placeholder-repair-source-end-target
      source: apply_placeholder_repair
      sourceHandle: source
      target: end_repaired
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: section_id
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: section_id
        - default: ''
          hint: ''
          label: section_title
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: section_title
        - default: ''
          hint: ''
          label: current_content
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: current_content
        - default: ''
          hint: ''
          label: rewrite_instruction
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: rewrite_instruction
        - default: 1500
          hint: ''
          label: expected_words
          options: []
          placeholder: ''
          required: true
          type: number
          variable: expected_words
        - default: ''
          hint: ''
          label: project_summary
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: project_summary
        - default: ''
          hint: ''
          label: global_outline
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: global_outline
        - default: ''
          hint: ''
          label: section_outline_slice
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: section_outline_slice
        - default: ''
          hint: ''
          label: analysis_context
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: analysis_context
        - default: ''
          hint: ''
          label: placeholder_hint
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: placeholder_hint
      height: 420
      id: start_node
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.15
            top_p: 0.7
          mode: chat
          name: Kimi-K2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: rewrite-review-sys
          role: system
          text: |
            你是一名严苛的技术标书总审与改稿顾问。

            你的当前任务不是直接改写，而是先审阅单个章节初稿「{{#start_node.section_title#}}」，输出结构化审稿意见，供下游 rewrite 节点消费。

            项目蓝图：
            {{#start_node.project_summary#}}

            邻域大纲：
            {{#start_node.global_outline#}}

            章节局部大纲：
            {{#start_node.section_outline_slice#}}

            招标依据：
            {{#start_node.analysis_context#}}

            你必须重点检查：
            - 是否偏离本章节标题和大纲定位
            - 是否存在空泛、重复、技术细节不足
            - 是否遗漏关键约束、交付、性能、安全、实施等应答点
            - 是否存在结构混乱、段落顺序不佳、标题污染
            - 是否违反占位符保留要求

            输出要求：
            - 只输出 JSON，不得输出解释文字、Markdown、代码块。
            - 顶层格式必须为：
              {
                "quality_score": 0,
                "review_feedback": "一句总体判断 + 分点问题",
                "rewrite_focus": ["改写重点1", "改写重点2", "改写重点3"]
              }
            - `rewrite_focus` 至少 3 条，必须是可执行的改写动作。
        - id: rewrite-review-user
          role: user
          text: |
            当前章节初稿如下：

            {{#start_node.current_content#}}

            用户补充要求：
            {{#start_node.rewrite_instruction#}}

            请直接输出 JSON。
        selected: false
        structured_output:
          schema: {}
        structured_output_enabled: false
        title: LLM REVIEW
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_review
      position:
        x: 382
        y: 240
      positionAbsolute:
        x: 382
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.2
            top_p: 0.8
          mode: chat
          name: Kimi-K2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: rewrite-llm-sys
          role: system
          text: |
            你是一名专业的招投标技术方案改稿专家。

            你的任务是基于“现有章节初稿 + 审稿意见 + 用户补充要求”，重写当前章节，输出可直接替换原稿的最终正文。

            项目蓝图：
            {{#start_node.project_summary#}}

            邻域大纲：
            {{#start_node.global_outline#}}

            当前章节：
            {{#start_node.section_title#}}

            章节局部大纲：
            {{#start_node.section_outline_slice#}}

            招标依据：
            {{#start_node.analysis_context#}}

            审稿意见（必须严格执行）：
            {{#llm_review.text#}}

            用户补充要求：
            {{#start_node.rewrite_instruction#}}

            占位符要求：
            {{#start_node.placeholder_hint#}}

            输出要求：
            - 只输出最终 Markdown 正文，不要输出解释文字、审稿说明、代码块。
            - 严禁输出以 # 开头的标题行，章节标题由排版系统统一注入。
            - 保留并正确使用已有占位符，严禁改坏格式。
            - 目标字数约 {{#start_node.expected_words#}} 字，允许 ±8% 浮动。
            - 必须解决 review 中指出的问题，而不是只做轻微润色。
        - id: rewrite-llm-user
          role: user
          text: |
            当前章节初稿如下：

            {{#start_node.current_content#}}

            请输出改写后的最终正文。
        selected: false
        structured_output:
          schema: {}
        structured_output_enabled: false
        title: LLM REWRITE
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_rewrite
      position:
        x: 684
        y: 240
      positionAbsolute:
        x: 684
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import ast
          import json
          import re

          def _strip_fence(text: str) -> str:
              out = str(text or "").strip()
              out = re.sub(r'<think>.*?</think>', '', out, flags=re.DOTALL).strip()
              out = re.sub(r'^\s*```(?:json|markdown)?\s*', '', out, flags=re.IGNORECASE)
              out = re.sub(r'\s*```\s*$', '', out, flags=re.IGNORECASE)
              return out.strip()

          def _parse_review(raw: str) -> dict:
              text = _strip_fence(raw)
              if not text:
                  return {}
              try:
                  return json.loads(text)
              except Exception:
                  try:
                      return ast.literal_eval(text)
                  except Exception:
                      return {"review_feedback": text}

          def main(review_text: str, rewritten_text: str) -> dict:
              review = _parse_review(review_text)
              feedback = str(review.get("review_feedback") or review.get("feedback") or "").strip()
              quality_score = review.get("quality_score")
              result = {
                  "text": _strip_fence(rewritten_text),
                  "feedback": feedback,
              }
              if quality_score is not None:
                  try:
                      result["quality_score"] = int(float(quality_score))
                  except Exception:
                      pass
              return result
        code_language: python3
        outputs:
          text:
            children: null
            type: string
          feedback:
            children: null
            type: string
          quality_score:
            children: null
            type: number
        selected: false
        title: 输出清洗
        type: code
        variables:
        - value_selector:
          - llm_review
          - text
          value_type: string
          variable: review_text
        - value_selector:
          - llm_rewrite
          - text
          value_type: string
          variable: rewritten_text
      height: 52
      id: code_clean
      position:
        x: 986
        y: 240
      positionAbsolute:
        x: 986
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          LEGAL_RE = re.compile(r"\{\{__(?:PIPT_[a-z_]+_\d+|BIDDER_[A-Z_]+)__\}\}")
          SUSPECT_RE = re.compile(r"\{\{[^{}]*(?:PIPT|BIDDER)[^{}]*\}\}|(?<!\{)\{[^{}]*(?:PIPT|BIDDER)[^{}]*\}(?!\})", re.IGNORECASE)

          def _find_issues(text):
              issues = []
              for match in SUSPECT_RE.finditer(str(text or "")):
                  token = match.group(0)
                  if not LEGAL_RE.fullmatch(token) and token not in issues:
                      issues.append(token)
              return issues

          def main(text: str, feedback: str, quality_score, placeholder_hint: str) -> dict:
              issues = _find_issues(text)
              allowed = []
              for token in LEGAL_RE.findall(str(placeholder_hint or "")):
                  if token not in allowed:
                      allowed.append(token)

              result = {
                  "text": str(text or "").strip(),
                  "feedback": str(feedback or "").strip(),
                  "has_placeholder_issues": bool(issues),
                  "placeholder_issues": json.dumps(issues, ensure_ascii=False),
                  "allowed_placeholders_json": json.dumps(allowed, ensure_ascii=False),
                  "placeholder_validation_failed": bool(issues),
                  "placeholder_repair_report": "[]",
              }
              if quality_score is not None:
                  result["quality_score"] = quality_score
              return result
        code_language: python3
        outputs:
          text:
            children: null
            type: string
          feedback:
            children: null
            type: string
          quality_score:
            children: null
            type: number
          has_placeholder_issues:
            children: null
            type: boolean
          placeholder_issues:
            children: null
            type: string
          allowed_placeholders_json:
            children: null
            type: string
          placeholder_validation_failed:
            children: null
            type: boolean
          placeholder_repair_report:
            children: null
            type: string
        selected: false
        title: 占位符扫描
        type: code
        variables:
        - value_selector:
          - code_clean
          - text
          value_type: string
          variable: text
        - value_selector:
          - code_clean
          - feedback
          value_type: string
          variable: feedback
        - value_selector:
          - code_clean
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - start_node
          - placeholder_hint
          value_type: string
          variable: placeholder_hint
      height: 52
      id: placeholder_scan
      position:
        x: 1288
        y: 240
      positionAbsolute:
        x: 1288
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: placeholder-issues-true
            value: true
            varType: boolean
            variable_selector:
            - placeholder_scan
            - has_placeholder_issues
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否需要占位符修复
        type: if-else
      height: 124
      id: if_placeholder_issues
      position:
        x: 1590
        y: 240
      positionAbsolute:
        x: 1590
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: false
            temperature: 0
            top_p: 0.1
          mode: chat
          name: Kimi-K2.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: placeholder-repair-system
          role: system
          text: |
            你是占位符格式校验器，只能输出 JSON，不得解释。

            任务：根据问题清单，为每个畸形占位符给出最小替换方案。
            允许格式只有：
            - {{__PIPT_类型_序号__}}
            - {{__BIDDER_KEY__}}

            规则：
            - 只处理问题清单中的 token。
            - 只能修复占位符格式，不得改写任何正文。
            - 能确定的修复为合法占位符；不能确定时不要给 replacement。
            - {{BIDDER_ORG}} 应修复为 {{__BIDDER_ORG__}}。
            - {{PIPT_name_1}} 应修复为 {{__PIPT_name_1__}}。
            - {{PIPT_1}} 缺少类型，无法可靠修复，必须跳过。

            输出格式：
            {"replacements":[{"from":"原 token","to":"合法占位符","reason":"简短原因"}]}
        - id: placeholder-repair-user
          role: user
          text: |
            问题清单：
            {{#placeholder_scan.placeholder_issues#}}

            已知合法占位符：
            {{#placeholder_scan.allowed_placeholders_json#}}

            正文原文：
            {{#placeholder_scan.text#}}
        selected: false
        structured_output:
          schema: {}
        structured_output_enabled: false
        title: 快速占位符修复
        type: llm
        vision:
          enabled: false
      height: 88
      id: placeholder_repair_llm
      position:
        x: 1892
        y: 115
      positionAbsolute:
        x: 1892
        y: 115
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json
          import re

          LEGAL_RE = re.compile(r"\{\{__(?:PIPT_[a-z_]+_\d+|BIDDER_[A-Z_]+)__\}\}")
          SUSPECT_RE = re.compile(r"\{\{[^{}]*(?:PIPT|BIDDER)[^{}]*\}\}|(?<!\{)\{[^{}]*(?:PIPT|BIDDER)[^{}]*\}(?!\})", re.IGNORECASE)

          def _load_json(raw, fallback):
              text = str(raw or "").strip()
              text = re.sub(r"^\s*```(?:json)?\s*", "", text, flags=re.IGNORECASE)
              text = re.sub(r"\s*```\s*$", "", text, flags=re.IGNORECASE)
              try:
                  return json.loads(text)
              except Exception:
                  match = re.search(r"(\{[\s\S]*\}|\[[\s\S]*\])", text)
                  if match:
                      try:
                          return json.loads(match.group(1))
                      except Exception:
                          return fallback
              return fallback

          def _find_issues(text):
              issues = []
              for match in SUSPECT_RE.finditer(str(text or "")):
                  token = match.group(0)
                  if not LEGAL_RE.fullmatch(token):
                      issues.append(token)
              return issues

          def main(text: str, feedback: str, quality_score, repair_text: str, placeholder_issues: str) -> dict:
              issue_tokens = set(_load_json(placeholder_issues, []))
              repair_payload = _load_json(repair_text, {})
              replacements = repair_payload.get("replacements") if isinstance(repair_payload, dict) else []
              rewritten = str(text or "")
              applied = []

              for repl in replacements or []:
                  if not isinstance(repl, dict):
                      continue
                  src = str(repl.get("from") or "")
                  dst = str(repl.get("to") or "")
                  if not src or src not in issue_tokens or not LEGAL_RE.fullmatch(dst):
                      continue
                  if src in rewritten:
                      rewritten = rewritten.replace(src, dst)
                      applied.append({"from": src, "to": dst, "reason": str(repl.get("reason") or "")})

              result = {
                  "text": rewritten.strip(),
                  "feedback": str(feedback or "").strip(),
                  "placeholder_issues": json.dumps(_find_issues(rewritten), ensure_ascii=False),
                  "placeholder_validation_failed": bool(_find_issues(rewritten)),
                  "placeholder_repair_report": json.dumps(applied, ensure_ascii=False),
              }
              if quality_score is not None:
                  result["quality_score"] = quality_score
              return result
        code_language: python3
        outputs:
          text:
            children: null
            type: string
          feedback:
            children: null
            type: string
          quality_score:
            children: null
            type: number
          placeholder_issues:
            children: null
            type: string
          placeholder_validation_failed:
            children: null
            type: boolean
          placeholder_repair_report:
            children: null
            type: string
        selected: false
        title: 应用占位符修复
        type: code
        variables:
        - value_selector:
          - placeholder_scan
          - text
          value_type: string
          variable: text
        - value_selector:
          - placeholder_scan
          - feedback
          value_type: string
          variable: feedback
        - value_selector:
          - placeholder_scan
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - placeholder_repair_llm
          - text
          value_type: string
          variable: repair_text
        - value_selector:
          - placeholder_scan
          - placeholder_issues
          value_type: string
          variable: placeholder_issues
      height: 52
      id: apply_placeholder_repair
      position:
        x: 2194
        y: 115
      positionAbsolute:
        x: 2194
        y: 115
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - placeholder_scan
          - text
          value_type: string
          variable: text
        - value_selector:
          - placeholder_scan
          - feedback
          value_type: string
          variable: feedback
        - value_selector:
          - placeholder_scan
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - placeholder_scan
          - placeholder_issues
          value_type: string
          variable: placeholder_issues
        - value_selector:
          - placeholder_scan
          - placeholder_validation_failed
          value_type: boolean
          variable: placeholder_validation_failed
        - value_selector:
          - placeholder_scan
          - placeholder_repair_report
          value_type: string
          variable: placeholder_repair_report
        selected: false
        title: 输出
        type: end
      height: 170
      id: end_node
      position:
        x: 1892
        y: 365
      positionAbsolute:
        x: 1892
        y: 365
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - apply_placeholder_repair
          - text
          value_type: string
          variable: text
        - value_selector:
          - apply_placeholder_repair
          - feedback
          value_type: string
          variable: feedback
        - value_selector:
          - apply_placeholder_repair
          - quality_score
          value_type: number
          variable: quality_score
        - value_selector:
          - apply_placeholder_repair
          - placeholder_issues
          value_type: string
          variable: placeholder_issues
        - value_selector:
          - apply_placeholder_repair
          - placeholder_validation_failed
          value_type: boolean
          variable: placeholder_validation_failed
        - value_selector:
          - apply_placeholder_repair
          - placeholder_repair_report
          value_type: string
          variable: placeholder_repair_report
        selected: false
        title: 输出（占位符已校验）
        type: end
      height: 170
      id: end_repaired
      position:
        x: 2496
        y: 115
      positionAbsolute:
        x: 2496
        y: 115
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 60
      y: -23
      zoom: 1
  rag_pipeline_variables: []
